@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;

  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgba(20, 20, 20, 1) !important;
}

a {
  text-decoration: none;
}

.searchcontainer {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .searchicon {
    position: relative;
    left: 40px;
  }
  .icon {
    background-color: rgb(96, 94, 0);
    backdrop-filter: blur(1px);
    opacity: 0.6;
    padding: 5px 10px 10px 10px;
    // border: 1px solid white;
    border-radius: 8px;
  }
  .searchinputfield {
    background: #262626;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    padding-left: 60px;
  }

  .secondcontainer {
    width: 260px;
    margin-left: 20px;
    height: 60px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 10px;
    align-items: center;
    position: relative;
    // justify-content: center;
    padding-left: 20px;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 20px;
    display: flex;
    .dropd {
      // border: 1px solid white;
      // margin-left: 20px;
      position: absolute;
      right: 20px;
    }
    .lineclass {
      position: absolute;
      top: 5px;
      left: 70px;
      .userprofileheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;
      }
      .verifiedheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.4;
      }
    }
  }
}








































































.navlist_twoclass {
  display: none;
}



.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  // border: 1px solid white;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  // margin-top: 29px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  // border: 1px solid white;
  background-color: rgb(81, 80, 80);
  position: relative;
  left: 0;
  padding: 0px 6px 8px 6px;
  margin-left: 0px;
  border-radius: 0px 10px 10px 00px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 90px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
   box-shadow: none !important; 
}

.nav-tabs{
  border-bottom: none !important;
}
.navitemclass{
  // border: 1px solid white;
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // width: 200px !important;
}
.navitemclass:focus{
  border-bottom: 2px solid white !important;
  // width: 40px !important;
  // border-width: 5px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow:none !important;
}

.nav_list {
  .navlinkthree {
    position: relative;
    top: -16px;
    left: 3px;
  }
  .nav_link {
    .nav_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      /* identical to box height */

      color: #ffffff;
    }
  }
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  // display: flex;
  align-items: center;
  // width: 100%;
  // border: 1px solid white;
  // justify-content: center;
  // border: 1px solid white;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  // line-height: 27px;
  .accordion-item {
    position: relative !important;
    left: -20px !important;
    // width: 100% !important;
    // top: -10px !important;
    // height: 100% !important;

    .nav_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
      /* identical to box height */

      color: #ffffff;
    }
    // border: 1px solid white !important;
  }
  #collapseOne {
    border: none;
  }
  .accorbd {
    background-color: #141414;
    .inneraccor {
      margin-left: 38px;
      span {
        font-size: 12px;
        margin-left: -20px;
      }
      // font-size: 2px !important;
    }
  }

  .accorbtn {
    background-color: #141414 !important;
    border: none;
    outline: none;
    width: auto;
    // margin-left: 20px;
    color: white !important;
    .nav_nameTwo {
      margin-left: 40px;
    }
  }

  .accordion-button::after {
    // content: "";
    // background-image: url(../../img/vectorarrow.png) !important;
    // margin-left: 10px;
    // background-size: 1.3rem;




    // .accordion-button::after {
      content: "";
      background-image: url(../../img/vectorarrow.png) !important;
      margin-left: 16px;
      background-size: 11.3px;
      margin-top: -12px;
      transform: rotate(180deg);
  // }













  }
}

.nav_link:hover {
  background: radial-gradient(
    354.23% 3112.34% at -29.41% 333.8%,
    rgba(255, 187, 84, 0.2) 50.63%,
    rgba(255, 187, 84, 0) 100%
  ) !important;
  width: 100% !important;
  height: 100% !important;
  // color: red !important;
  // padding-bottom: 10px !important;
  // border: 1px solid white !important;
}

.nav_name:hover {
  color: #ffbb54 !important;
}

.nav_logo {
  margin-bottom: 2rem;
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 800; */
  font-size: 36px;
  line-height: 54px;
  margin-left: -45px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  // border: 1px solid white;
  margin-left: -30px;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_link:hover {
  background-color: var(--white-color);
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  // padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 45px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}


























.friend {
  padding: 0px 20px 20px 45px;
  // margin-left: 0px;
  position: relative;
  top: -50px;
  // margin-top: 100px !important;
  // border: 1px solid white;
  .submaincontainer {
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    .subcontainerone {
      margin-right: 20px;
      margin-left: 20px;
      width: 300px;
      background: #0e0e0e;
      border: 0.869448px solid rgba(14, 14, 14, 0.3);
      border-radius: 17.389px;
      padding: 5px;
      display: flex;
      justify-content: space-around;
      .imagecontainer {
        position: relative;
        top: 12px;
        .imageone {
          position: relative;
          width: 118px;
          height: 106px;
          background: #ffbb54;
          border-radius: 12px;
        }
        .imagetwo {
          left: 18px;
          top: 10px;
          position: absolute;
        }
      }
    }
    .headingtextone {
      display: flex;
      flex-direction: column;
      .headingone {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        line-height: 81px;
        color: #ffbb54;
      }
      .headingtwo {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        opacity: 0.6;
      }
    }
    .headingthree {
      color: #ffffff;
      padding-top: 20px;
    }
  }

  .secondmaincontainer {
    width: 100%;
    margin-top: 30px;
    position: relative;
    height: 100%;
    padding: 40px 0px 40px 0px;
    background: linear-gradient(103.38deg, #ffbb54 -10.31%, #f9823f 98.36%);
    border-radius: 28px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    .secondheadingone {
      z-index: 1;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      width: 70%;
      line-height: 47px;
      text-align: center;
      color: #ffffff;
    }
    .secondheadingtwo {
      z-index: 1;
      padding-top: 20px;
      font-family: "Poppins";
      font-style: normal;
      width: 70%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
    .imageone {
      position: absolute;
      opacity: 0.2;
      left: 0;
      top: 0;
    }
    .imagetwo {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.2;
    }
  }
  .getstartedbutton {
    background: #141326;
    border-radius: 12px;
    cursor: pointer;
    width: 260.63px;
    height: 50px;
    z-index: 1;
    border: none;
    color: #ffbb54;
    margin-top: 18px;
  }
  .getstartedbutton:hover {
    background: #3a394e;
    color: #ff9900;
    font-size: 18px;
    font-weight: 800;
  }
  .referusmaincontainer {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #0e0e0e;
    border-radius: 17.389px;
    .referusheading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 48px;
      color: #ffffff;
    }
    .inputfieldcontainer {
      position: relative;
      display: flex;
      width: 100%;
      .linkimage {
        position: absolute;
        left: 10px;
        top: 14px;
      }
      .inputfield {
        background: #161616;
        padding: 13px 100px 13px 40px;
        width: 100%;
        border: 0.869448px solid rgba(0, 0, 0, 0.3);
        border-radius: 14px;
        color: white;
      }
    }
    .copylinktext {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      cursor: pointer;
      font-size: 14px;
      line-height: 21px;
      position: absolute;
      right: 20px;
      top: 14px;
      color: #ffbb54;
    }
  }
}

.checkToggle {
  margin-left: 190px;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;

    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;

    img {
      width: 45px;
    }
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 80px;
  }

  .header_toggle {
    display: none;
  }
  .l-navbar {
    display: none;
  }

  .searchcontainer {
    .bellIcon {
      display: none;
    }
    .searchicon {
      display: none;
    }
    .icon {
    }
    .searchinputfield {
      background: #262626;
      border-radius: 8px;
      border: none;
      outline: none;
      width: 100%;
      height: 40px;
      display: none;
      padding-left: 0px;
    }

    .secondcontainer {
      width: 230px;
      margin-left: -10px;
      height: 60px;
      margin-top: 2px;
      border: none;
      .dropd {
        position: absolute;
        right: 20px;
        display: none;
      }
      .lineclass {
        position: absolute;
        top: 5px;
        left: 70px;
        .userprofileheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          color: #ffffff;
        }
        .verifiedheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height */

          color: #ffffff;

          opacity: 0.4;
        }
      }
    }
  }

  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
  .header {
    .openMobileMono {
      display: block;
    }
  }

  .friend {
    // padding: 20px 10px 20px 5px;
    // border: 1px solid white;
    // margin-left: 0px;
    .submaincontainer {
      width: 100%;
      display: flex;
      margin-top: 0px;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      .subcontainerone {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        width: 300px;
        background: #0e0e0e;
        border: 0.869448px solid rgba(14, 14, 14, 0.3);
        border-radius: 17.389px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        .imagecontainer {
          position: relative;
          top: 12px;
          .imageone {
            position: relative;
            width: 118px;
            height: 106px;
            background: #ffbb54;
            border-radius: 12px;
          }
          .imagetwo {
            left: 18px;
            top: 10px;
            position: absolute;
          }
        }
      }
      .headingtextone {
        display: flex;
        flex-direction: column;
        .headingone {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 54px;
          line-height: 81px;
          color: #ffbb54;
        }
        .headingtwo {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.6;
        }
      }
      .headingthree {
        color: #ffffff;
        padding-top: 20px;
      }
    }

    .secondmaincontainer {
      width: 100%;
      margin-top: 30px;
      position: relative;
      height: 100%;
      padding: 40px 0px 40px 0px;
      background: linear-gradient(103.38deg, #ffbb54 -10.31%, #f9823f 98.36%);
      border-radius: 28px;
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      .secondheadingone {
        z-index: 1;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        width: 70%;
        line-height: 47px;
        text-align: center;
        color: #ffffff;
      }
      .secondheadingtwo {
        z-index: 1;
        padding-top: 20px;
        font-family: "Poppins";
        font-style: normal;
        width: 70%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #ffffff;
      }
      .imageone {
        position: absolute;
        opacity: 0.2;
        left: -70px;
        top: 0;
        width: 350px;
        transform: rotate(40deg);
      }
      .imagetwo {
        position: absolute;
        transform: rotate(-40deg);
        right: -60px;
        width: 350px;
        top: -30px;
        opacity: 0.2;
      }
    }
    .getstartedbutton {
      background: #141326;
      border-radius: 12px;
      cursor: pointer;
      width: 260.63px;
      height: 50px;
      z-index: 1;
      border: none;
      color: #ffbb54;
      margin-top: 18px;
    }
    .getstartedbutton:hover {
      background: #3a394e;
      color: #ff9900;
      font-size: 18px;
      font-weight: 800;
    }
    .referusmaincontainer {
      margin-top: 30px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: #0e0e0e;
      border-radius: 17.389px;
      .referusheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 48px;
        color: #ffffff;
      }
      .inputfieldcontainer {
        position: relative;
        display: flex;
        width: 100%;
        .linkimage {
          position: absolute;
          left: 10px;
          top: 14px;
        }
        .inputfield {
          background: #161616;
          padding: 13px 100px 13px 40px;
          width: 100%;
          border: 0.869448px solid rgba(0, 0, 0, 0.3);
          border-radius: 14px;
          color: white;
        }
      }
      .copylinktext {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
        font-size: 14px;
        line-height: 21px;
        position: absolute;
        right: 20px;
        top: 14px;
        color: #ffbb54;
      }
    }
  }
}

.friend {
  margin-top: 77px;
  margin-left: 8rem;

  .cont {
    top: 181px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #ffffff;
  }
  .para {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.6;
  }
}

@media screen and (max-width: 768px) {
  .friend {
    margin-left: 0px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  .friend{
    padding: 0px 20px 20px 20px;
    // margin-left: 0px;
    position: relative;
    top: -50px;
    // margin-top: 100px !important;
  }
  .newcontainer{
    display: none !important;
  }
  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }
  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }
  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
    // border: 1px solid white !important;
    // width: 100% !important;
  }
  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .l-navbar {
    display: none !important;
  }

  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .bellIcon {
    display: none;
  }

  .searchcontainer .searchicon {
    display: none;
  }

  .searchcontainer {
    .searchinputfield {
      // width: 100%;
      display: none;
      // border: 1px solid white;
    }
  }

  .searchcontainer .icon {
    display: none;
  }
}
