@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bgColor: #141414;
$lightGrey: #c4c4c4;
$textColor: #ffbb54;
$white: #ffffff;
$fontfamily: "Poppins", sans-serif;
$fontSize: 16px;
$fontWeight: 600;
$fontStyle: normal;

:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgba(20, 20, 20, 1) !important;
}

.accordion-item{
  background-color: #161616 !important;
  border: none !important;
}

a {
  text-decoration: none;
}




.search-container{
  width: 100%;
  display: flex;
  padding-top: 20px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  .user-profile-container {
    width: 260px;
    margin-left: 20px;
    height: 60px;
  
    margin-top: 2px;
    margin-right: 10px;
    align-items: center;
    position: relative;
    padding-left: 20px;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
   .drop-down-container {
      position: absolute;
      right: 20px;
      .check {
        position: absolute;
        top: 5px;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 5px;
        background-color: rgb(57, 56, 56);
      }
      .main {
        display: block;
        position: relative;
        cursor: pointer;
      }
    }
    .drop-down-container input[type=checkbox] {
      visibility: hidden;
    }
    .lineclass {
      position: absolute;
      top: 5px;
      left: 70px;
      .verified-heading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #ffffff;
        margin-top: -6px;
        opacity: 0.4;
      }
      .user-profile-heading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        margin-top: 3px;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  } 
  .dropdown_submenu {
    width: 300px;
    background: #242323;
    border-radius: 16px;
    margin-top: 10px;
    .addprofile {
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding-top: 20px;
      .addprofiletext {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #bdbbbb;
      }
    }
     .user-sub-profile-container {
      width: 260px;
      cursor: pointer;
      margin-left: 20px;
      height: 60px;
      margin-top: 2px;
      align-items: center;
      position: relative;
      border: none;
      border-radius: 20px;
      display: flex;
      .lineclass {
        position: absolute;
        top: 5px;
        left: 50px;
        .user-profile-heading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          margin-top: 3px;
          line-height: 21px;
          color: #ffffff;
        }
        .verified-heading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          margin-top: -6px;
          line-height: 16px;
          color: #ffffff;
          opacity: 0.4;
        }
      }
      .drop-down-container input[type=checkbox] {
        visibility: hidden;
      } 
      .drop-down-container {
        position: absolute;
        right: 10px;
        .main input:checked ~ .check:after {
          display: block;
        }
        .check:after {
          content: "";
          position: absolute;
          display: none;
        }
         .main input:checked ~ .check {
          background-color: #FFBB54;
        }
        .check {
          position: absolute;
          top: 5px;
          left: 0;
          height: 16px;
          width: 16px;
          border-radius: 5px;
          background-color: rgb(57, 56, 56);
        }
      }
        .main {
          display: block;
          position: relative;
          cursor: pointer;
          .check:after {
            left: 5px;
            top: 1px;
            width: 6px;
            height: 12px;
            border: 1px solid black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      } 
  }
  .dropdown-toggle::after {
    content: none !important;
  }
  .search-icon {
    position: relative;
    left: 40px;
  }
  .search-input-field {
    background: #262626;
    border-radius: 8px;
    border: none;
    color: white;
    width: 571px;
    height: 60px;
    padding-left: 60px;
  }
  .bellIcon {
    margin-left: 12px;
  }
}
.accordion-item {
  background-color: #161616 !important;
  border: none !important;
}
.navlist_two {
  display: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
  .openMobileMono {
    display: none;
  }
}
.header_toggle {
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  position: fixed;
  left: 270px;
  margin-top: 10px;
  padding: 10px 6px 10px 6px;
  margin-left: 100px;
  border-radius: 0px 10px 10px 0px;
  .header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
}
.header_img img {
  width: 40px;
}
.left-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 374px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.nav-tabs {
  border-bottom: none !important;
}
.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .navitemclass:focus {
    border-bottom: 2px solid white !important;
  }
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}
.accordion-item:first-of-type {
  .accordion-button::after {
    content: "";
    background-image: url(../../img/vectorarrow.png) !important;
    margin-left: 16px;
    background-size: 11.3px;
    margin-top: -12px;
    transform: rotate(180deg);
  }
  .accord-button {
    background-color: #141414 !important;
    border: none;
    outline: none;
    width: 300px;
    color: #ffffff;
    .nav_nameTwo {
      margin-left: 40px;
    }
    span {
      margin-left: 24px !important;
    }
  }
  .accord-button:hover {
    background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
    color: #ffbb54 !important;
    position: relative;
  }
  .accordion-button {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    width: 400px !important;
    font-size: 16px;
    padding-left: 40px;
    background-color: transparent !important;
    line-height: 22px;
    align-items: center;
  }
  .accorbd {
    background-color: #141414;
    padding-left: 45px !important;
    .sub-accordion span {
      font-size: 14px;
      margin-left: -20px;
    }
  }
}
.nav_list {
  .nav_link {
    font-family: "Poppins";
    font-style: normal;
    padding-left: 70px;
    font-weight: 500;
    text-decoration: none !important;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    span {
      margin-left: -15px;
    }
  }
  .nav_link:hover {
    background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
    color: #ffbb54 !important;
    height: 100% !important;
  }
  .nav-link-support {
    position: relative;
    top: 8px;
    margin-left: -27.5px;
    span{
      margin-left: -12px !important;
    }
  }
  .nav-link-three {
    position: relative;
    top: 8px;
    margin-left: -28px;
    text-decoration: none;
  }
  .nav_link_refer_a_friend {
    margin-left: -30px;
    position: relative;
    top: 8px;
    text-decoration: none;
  }
} 
.nav_logo,.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  text-decoration: none;
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 36px;
  text-decoration: none !important;
  line-height: 54px;
  margin-left: -10px;
  color: #ffffff;
  .nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
  }
  .nav_logo-name {
    color: var(--white-color);
    font-weight: 800;
    letter-spacing: 5px;
    margin-left: 13px;
    margin-top: 20px;
  }
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}
.active::before .active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 44px;
  background-color: #ffbb54;
}

.seperator{
  margin-top: 24px;
  opacity: 0.05;
  border: 1px solid #FFFFFF;
  margin-bottom: 28px;
  @media screen and (max-width:600px) {
    display:none;
  }
  }

.main-container-text {
  width: 100%;
  padding-left: 165px;
  padding-top: 10px;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    color: #ffffff;
    padding-left: 15px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.6;
    padding-left: 15px;

  }
}

.card-container {
  display: flex;
  width: 100%;
  margin-left: -50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  .sub-card-container {
    margin-top: 20px;
    background: #0e0e0e;
    border-radius: 14px;
    width: 437px;
    height: 746px;
    .regular-text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      button {
        width: auto;
        height: 21px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background: #6c532d;
        border: none;
        border-radius: 10.1667px;
        text-transform: uppercase;
        line-height: 21px;
        padding: 10px 15px 30px 15px;
        letter-spacing: 0.1em;
        color: #ffbb54;
      }
    }

    .basic-header-container {
      padding: 30px 0px 0px 30px;
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 38.125px;
        line-height: 57px;
        color: #ffffff;
        margin-bottom: -3px;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 17.7917px;
        line-height: 27px;
        color: #ffffff;
        opacity: 0.6;
      }
    }
    .price-text-container {
      // padding: 10px 0px 0px 20px;

      padding: 0px 0px 0px 30px;

      display: flex;
      align-items: center;
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 63px;
        color: #ffffff;
        margin-bottom: 5px;
      }
      p {
        padding: 12px 0px 0px 5px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
        opacity: 0.2;
      }
    }
    .subscriber-main-container {
      // padding: 0px 0px 0px 20px;
       padding: 10px 0px 0px 30px;

      p {
        font-family: "Coco Sharp Variable";
        font-style: normal;
        font-weight: 400;
        font-size: 17.7917px;
        line-height: 21px;
        color: #ffbb54;
      }
    }
    .subscribe-sub-container {
      padding: 0px 0px 0px 30px;
      // padding: 10px 0px 0px 20px;

      margin-top: -15px;
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        opacity: 0.3;
      }
    }
    .free-trial-container {
      display: flex;
      padding: 25px 0px 20px 0px;
      align-items: center;
      justify-content: center;
      button {
        position: absolute;
        // width: 325px;
        width: 380px;
        border: none;
        height: 59.73px;
        background: #ffbb54;
        border-radius: 14px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #08071b;
      }
    }
    .list-text-main-container {
      // padding: 30px 0px 30px 10px;
      padding: 30px 0px 30px 18px;

      ul {
        display: grid;
        gap: 20px;
        li {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #ffbb54;
        }
        li > span {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .left-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  // .show {
  //   width: calc(var(--nav-width) + -5px);
  // }

  .show-navbar{
    width: calc(var(--nav-width) + -5px);
  }
}

@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}
.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: -150px;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  



  .searchcontainer {
    .searchicon {
      display: none;
    }

    .searchinputfield {
      display: none;
    }

    .icon {
      display: none;
    }

    .secondcontainer {
      width: 220px !important;
      margin-left: 0px !important;
      height: 42px !important;
      padding-left: 10px !important;
      border: none !important;
      border-radius: 0px !important;

      .dropd {
        display: none !important;
        position: absolute;
        right: 10px !important;
      }

      .lineclass {
        position: absolute;
        top: 2px !important;
        left: 70px;

        .userprofileheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;

          color: #ffffff;
        }

        .verifiedheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          position: absolute;
          bottom: -23px;
          color: #ffffff;
          opacity: 0.4;
        }
      }
    }
  }
}

.article {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
    color: white;
    width: 158%;
  }
}

.bellIcon {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.section2 {
  padding-left: 150px;
  padding-right: 50px;
  margin-top: 20px;

  @media screen and (max-width: 860px) {
    padding: 0px 30px !important;
    margin-left: 0px;
  }

  @media screen and (max-width: 767px) {
    margin: 10px !important;
    padding: 10px !important;
  }

  .mobileimage {
    display: none;

    img {
      width: 35rem;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      justify-content: center;
    }
  }

  .rectangle {
    margin-top: 37px;
    border-radius: 14px;
    width: 100%;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .newDisplay {
    @media screen and (max-width: 600px) {
      display: flex;
      margin-top: -60px;
      flex-direction: column-reverse;
    }

    .paragraph1 {
      margin-top: 34px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: #ffffff;
      opacity: 0.6;

      @media screen and (max-width: 600px) {
        margin-top: -13px;
        line-height: 20px;
      }
    }

    .paragraph2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;

      color: #ffffff;

      @media screen and (max-width: 600px) {
        font-size: 24px;
        padding-right: 72px;
      }
      @media screen and (max-width: 420px) {
        line-height: 28px;
      }
    }

    .heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      opacity: 0.3;

      @media screen and (max-width: 600px) {
        margin-top: 75px;
      }
    }
  }

  .newDisplay {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .p3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 37px;
    /* or 218% */
    padding-right: 50px;
    letter-spacing: 0.02em;
    color: #7f7f7f;

    @media screen and (max-width: 600px) {
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
      padding-right: 0px;
      word-spacing: 0.25px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 991px) {
  .accordion-item:first-of-type .accordion-button {
   
    width: 100% !important;
  
}
  .section2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
  .transactionContent {
    padding-left: 40px;
    margin-top: -50px !important;
  }
  .formcontentDiv {
    padding: 20px 20px 20px 20px;
  }
  .newcontainer {
    display: none !important;
  }
  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }
  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }
  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
    a {
      text-decoration: none !important;
    }
  }
  .header {
    padding: 40px 20px;
  }
  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }
  .avatar {
    margin-left: 20px;
  }
  .navlist_two {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }
  .navlist_two a {
    text-decoration: none !important;
  }
  .header {
    padding: 40px 20px;
  }
  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }
  .header_toggle {
    display: none;
  }
  .left-navbar {
    display: none !important;
  }
  .left-navbar .nav {
    display: none !important;
  }
  .search-container .bellIcon {
    display: none;
  }
  .search-container .search-icon {
    display: none;
  }
  .search-container .search-input-field {
    display: none;
  }
  .search-container .icon {
    display: none;
  }
  .search-container .user-profile-container {

    display: none !important;
  }
  .search-container {

    display: none !important;
  }
  .navlist_two {
    display: block !important;
    padding-left: 0px;
    padding-top: 40px;
}
  .header_toggle {
    display: none;
  }
  .l-navbar {
    display: none !important;
  }

  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .bellIcon {
    display: none;
  }

  .searchcontainer .searchicon {
    display: none;
  }

  .searchcontainer .secondcontainer {
    display: none !important;
  }

  .searchcontainer {
    .searchinputfield {
      display: none;
    }
  }

  .searchcontainer .icon {
    display: none;
  }

  .main-container-text {
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    h1 {
      padding-left: 20px;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
    }
    p {
      padding-left: 20px;

      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
    }
  }
  .card-container {
    display: flex;
    width: 100%;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .sub-card-container {
      width: 350px;
      height: auto;
      border-radius: 35px;
      .regular-text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        button {
          width: auto;
          height: 21px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          background: #6c532d;
          border: none;
          border-radius: 10.1667px;
          text-transform: uppercase;
          line-height: 21px;
          padding: 10px 15px 30px 15px;
          letter-spacing: 0.1em;
          color: #ffbb54;
        }
      }
      .basic-header-container {
        padding: 30px 0px 0px 5px;
        h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 38.125px;
          line-height: 57px;
          color: #ffffff;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 17.7917px;
          line-height: 27px;
          color: #ffffff;
          opacity: 0.6;
        }
      }
      .price-text-container {
        padding: 10px 0px 0px 5px;
        display: flex;
        align-items: center;
        h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 42px;
          line-height: 63px;
          color: #ffffff;
        }
        p {
          padding: 12px 0px 0px 5px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: #ffffff;
          opacity: 0.2;
        }
      }
      .subscriber-main-container {
        display: none;
      }
      .subscribe-sub-container {
        display: none;
      }
      .free-trial-container {
        button {
          width: 299px;
          height: 42px;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .list-text-main-container {
        padding: 30px 0px 30px 10px;
        ul {
          display: grid;
          gap: 10px;
          li {
            font-weight: 400;
            font-size: 10.1113px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1145px) {
  .search-container .search-input-field {
    width: 400px;
  }
}

