@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bgColor: #141414;
$lightGrey: #c4c4c4;
$textColor: #ffbb54;
$white: #ffffff;
$fontfamily: "Poppins", sans-serif;
$fontSize: 16px;
$fontWeight: 600;
$fontStyle: normal;

:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;

  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgba(20, 20, 20, 1) !important;
}

a {
  text-decoration: none;
}

.searchcontainer {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .searchicon {
    position: relative;
    left: 40px;
  }
  .icon {
    background-color: rgb(96, 94, 0);
    backdrop-filter: blur(1px);
    opacity: 0.6;
    padding: 5px 10px 10px 10px;
    // border: 1px solid white;
    border-radius: 8px;
  }
  .searchinputfield {
    background: #262626;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 40px;
    padding-left: 60px;
  }

  .secondcontainer {
    width: 260px;
    cursor: pointer;
    margin-left: 20px;
    height: 60px;
    margin-top: 2px;
    margin-right: 10px;
    align-items: center;
    position: relative;
    // justify-content: center;
    padding-left: 20px;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 20px;
    display: flex;
    .dropd {
      // border: 1px solid white;
      // margin-left: 20px;
      position: absolute;
      right: 20px;
    }
    .lineclass {
      position: absolute;
      top: 5px;
      left: 70px;
      .userprofileheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;
      }
      .verifiedheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.4;
      }
    }
  }






  .dropdown-toggle::after {
    content: none !important;
}
  .dropdown_submenu{
    width: 300px;
    background: #242323;
    border-radius: 16px;
    margin-top: 10px;
    .secondcontainertwo {
      width: 260px;
      cursor: pointer;
      margin-left: 20px;
      height: 60px;
      margin-top: 2px;
      align-items: center;
      position: relative;
      border: none;
      border-radius: 20px;
      display: flex;
      .dropd {
        position: absolute;
        right: 10px;
      }
      .lineclass {
        position: absolute;
        top: 5px;
        left: 50px;
        .userprofileheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #ffffff;
        }
        .verifiedheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;  
          color: #ffffff;
          opacity: 0.4;
        }
      }
    }
    .addprofile{
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding-top: 20px;
        .addprofiletext{
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: #bdbbbb;
        }
    }
  }
}







.row {
  .search {
    width: 100%;
    height: 60px;
    background: black;
    border-radius: 14px;
    padding-left: 80px;
  }

  .searchIcon {
    position: absolute;
    left: 14.92%;
    right: 91.38%;
    top: 31.81%;
    bottom: 32.93%;
    color: $lightGrey;
  }

  .imageDropDown {
    /* opacity: 0.1; */
    width: 260px;
    border: 1.5px solid #ffffff;
    /* box-sizing: border-box; */
    border-radius: 16px;
    height: 60px;
  }

  .avatar {
    margin-top: 8px;
  }

  ::placeholder {
    color: $lightGrey;
    text-align: left;
  }
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}



.navlist_twoclass {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(81, 80, 80);
  position: relative;
  left: 0;
  padding: 10px 6px 10px 6px;
  margin-left: 40px;
  border-radius: 0px 10px 10px 00px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 90px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}
.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navitemclass:focus {
  border-bottom: 2px solid white !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-item:first-of-type {
  .accordion-button {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: -26.5px;
    background-color: transparent !important;
    line-height: 22px;
    align-items: center;
  }
  .accorbd {
    background-color: #141414;
    .inneraccor {
      margin-left: 7px;
      span {
        font-size: 14px;
        margin-left: -20px;
      }
    }
  }

    .accorbtn {
      background-color: #141414 !important;
    border: none;
    outline: none;
    width: 280px;
    color: #ffffff;
      span{
        margin-left: 38px !important;
      }
    .nav_nameTwo {
      margin-left: 40px;
    }
  }


  .accorbtn:hover {
    background: radial-gradient(
      354.23% 3112.34% at -29.41% 333.8%,
      rgba(255, 187, 84, 0.2) 50.63%,
      rgba(255, 187, 84, 0) 100%
    ) !important;
    color: #ffbb54 !important;
  }

  .accordion-button::after {
    content: "";
    background-image: url(../../img/vectorarrow.png) !important;
    margin-left: 16px;
    background-size: 11.3px;
    margin-top: -12px;
    transform: rotate(180deg);
  }
}

.nav_list {
  .navlinkthree {
    position: relative;
    top: 8px;
    margin-left: -28px;
    text-decoration: none;
    left: px;
  }
  .nav_link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    text-decoration: none !important;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
  }
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  text-decoration: none;
    align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.nav_link:hover {
  background: radial-gradient(
    354.23% 3112.34% at -29.41% 333.8%,
    rgba(255, 187, 84, 0.2) 50.63%,
    rgba(255, 187, 84, 0) 100%
  ) !important;
  color: #ffbb54 !important;
  width: 100% !important;
  height: 100% !important;
}
.nav_logo {
  margin-bottom: 2rem;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 36px;
  text-decoration: none !important;
  line-height: 54px;
  margin-left: -45px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 45px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}













.mainCard {
  // border: 1px solid white;
  // width: 100%;
  .videoclass {
    width: 320px;
  }
  margin-left: 30px;
  margin-top: 20px;
  // margin-top: 100px !important;
  // border: 1px solid white;
  background-color: #0e0e0e;
  border-radius: 28px;
  // border: 1px solid red !important;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  /* identical to box height */

  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */

  color: #ffffff;

  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */

  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard {
  .videoclass {
    width: 320px;
  }
  .submaincontainer {
    padding: 0px 32px;
  }
}
.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}
.videodiv {
  width: 332px;
  // height: 204px;
  left: 419px;
  // top: 314px;
  background: url(image.png);
  border-radius: 14px;
}

.topdiv {
  // border: 1px solid white;
  // margin-top: 100px;
  position: relative;
  top: 20px;
  padding-left: 147px;
  .headmain {
    .videolesson {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 57px;
      /* identical to box height */

      color: #ffffff;
    }
    .parahead {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      /* identical to box height, or 214% */

      color: #ffffff;

      opacity: 0.6;
    }
  }
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-left: 50px;
  // margin-left: 40px;
  // border: 1px solid white;
  // padding-left: 60px;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;

    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;

    img {
      width: 45px;
    }
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
  }
}

@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}

.test {
  padding-left: -100px;
  z-index: 1;
}
.checkToggle {
  margin-left: 240px;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(180deg);
}


@media screen and (max-width: 860px) {
 

  .header {
    padding: 40px 20px;
    .openMobileMono {
      display: block !important;
      position: absolute;
      right: 20px;
    }
  }

  .topdiv {
    .headmain {
      .videolesson {
        font-size: 26px !important;
        margin-bottom: -10px !important;
      }
    }
  }

  .l-navbar {
    display: none !important;
    .nav {
      display: none !important;
    }
  }

  .searchcontainer {
    .searchicon {
      display: none;
    }

    .searchinputfield {
      display: none;
    }

    // .searchcontainer{
    // width: 100%; display: flex; align-items: center;
    .icon {
      display: none;
    }

    .secondcontainer {
      width: 220px !important;
      margin-left: 0px !important;
      height: 42px !important ;
      // margin-top: 0px !important;
      // margin-right: 0px !important;
      // align-items: center;
      // position: relative;
      // justify-content: center;
      padding-left: 10px !important;
      border: none !important;
      border-radius: 0px !important;
      // display: flex;
      .dropd {
        // border: 1px solid white;
        // margin-left: 20px;
        display: none !important;
        position: absolute;
        right: 10px !important;
      }
      .lineclass {
        position: absolute;
        top: 2px !important;
        left: 70px;
        .userprofileheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          color: #ffffff;
        }
        .verifiedheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height */
          position: absolute;
          bottom: -23px;
          color: #ffffff;

          opacity: 0.4;
        }
      }
    }
  }
}








@media screen and (max-width: 991px) {
  .newcontainer{
    display: none !important;
  }
  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }
  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }
  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
    // border: 1px solid white !important;
    // width: 100% !important;
    a{
      text-decoration: none !important;
    }
  }
  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .l-navbar {
    display: none !important;
  }

  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .bellIcon {
    display: none;
  }

  .searchcontainer .searchicon {
    display: none;
  }

  .searchcontainer {
    .searchinputfield {
      // width: 100%;
      display: none;
      // border: 1px solid white;
    }
  }


  .searchcontainer{
    .secondcontainer{
      display: none;
    }
  }

  .searchcontainer .icon {
    display: none;
  }



}











@media screen and (max-width: 679px) {
  .topdiv {
    .headmain {
      .videolesson {
        line-height: 87px;
        // color: #ffffff;
      }
    }
  }

  .mainCard {
    background-color: #141414;
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
  }

  .maincard {
    display: flex;
    .videoclass {
      width: 200px;
      // object-fit: fill;
      border-radius: 20px;
      // border: 1px solid white;

      // height: 100px;
    }
    // border: 1px solid white;

    .submaincontainer {
      padding: 0px 0px;
      padding-left: 20px;
    }
  }
}
