@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bgColor: #141414;
$lightGrey: #c4c4c4;
$textColor: #ffbb54;
$white: #ffffff;
$fontfamily:  'Poppins', sans-serif;
$fontSize: 16px;
$fontWeight: 600;
$fontStyle: normal;

:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;

  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgba(20, 20, 20, 1) !important;
}

a {
  text-decoration: none;
}

.searchcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  .icon {
    background-color: rgb(96, 94, 0);
    backdrop-filter: blur(1px);
    opacity: 0.6;
    padding: 5px 10px 10px 10px;
    // border: 1px solid white;
    border-radius: 8px;
  }
  .searchinputfield {
    background: #262626;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    padding-left: 20px;
  }

  .secondcontainer {
    width: 260px;
    margin-left: 20px;
    height: 60px;
    margin-top: 2px;
    margin-right: 10px;
    align-items: center;
    position: relative;
    // justify-content: center;
    padding-left: 20px;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 20px;
    display: flex;
    .dropd {
      // border: 1px solid white;
      // margin-left: 20px;
      position: absolute;
      right: 20px;
    }
    .lineclass {
      position: absolute;
      top: 5px;
      left: 70px;
      .userprofileheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;
      }
      .verifiedheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.4;
      }
    }
  }
}

.row {
  .search {
    width: 100%;
    height: 60px;
    background: black;
    border-radius: 14px;
    padding-left: 80px;
  }

  .searchIcon {
    position: absolute;
    left: 14.92%;
    right: 91.38%;
    top: 31.81%;
    bottom: 32.93%;
    color: $lightGrey;
  }

  .imageDropDown {
    /* opacity: 0.1; */
    width: 260px;
    border: 1.5px solid #ffffff;
    /* box-sizing: border-box; */
    border-radius: 16px;
    height: 60px;
  }

  .avatar {
    margin-top: 8px;
  }

  ::placeholder {
    color: $lightGrey;
    text-align: left;
  }
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
  .openMobileMono {
    display: none;
  }
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: -40px;
  //   background-color: grey;
  border-radius: 10px;
  //   border: 1px solid green;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 40px;
  }
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 2.75rem;
  padding: 0.5rem 0 0rem 1.5rem;
  line-height: 27px;
}

.nav_logo {
  margin-bottom: 2rem;
  font-family: "Poppins";
  font-style: normal;

  /* font-weight: 800; */
  font-size: 36px;
  line-height: 54px;
  margin-left: -8px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 7px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;

  &:hover {
    color: var(--white-color);
  }
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
  }
}

.height-100 {
  height: 100vh;
}

.mainCard {
  .videoclass {
    width: 320px;
  }
  margin-left: 30px;
  margin-top: 20px;
  // margin-top: 100px !important;
  // border: 1px solid white;
  background-color: #0e0e0e;
  border-radius: 28px;
  // border: 1px solid red !important;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  /* identical to box height */

  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */

  color: #ffffff;

  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */

  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard {
  .videoclass {
    width: 320px;
  }
  .submaincontainer {
    padding: 0px 32px;
  }
}
.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}
.videodiv {
  width: 332px;
  // height: 204px;
  left: 419px;
  // top: 314px;
  background: url(image.png);
  border-radius: 14px;
}

.topdiv {
  // border: 1px solid white;
  // margin-top: 100px;
  position: relative;
  top: 80px;
  padding-left: 200px;
  .headmain {
    .videolesson {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 57px;
      /* identical to box height */

      color: #ffffff;
    }
    .parahead {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      /* identical to box height, or 214% */

      color: #ffffff;

      opacity: 0.6;
    }
  }
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: 40px;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;

    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;

    img {
      width: 45px;
    }
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
  }
}

@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}

.test {
  padding-left: -100px;
  z-index: 1;
}
.checkToggle {
  margin-left: 155px;
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 860px) {
  .maincontainer {
    margin-left: -20px;
  }
  .topdiv {
    position: relative;
    top: 80px;
    padding-left: 20px;
  }

  .header {
    padding: 40px 20px;
    .openMobileMono {
      display: block !important;
      position: absolute;
      right: 20px;
    }
  }

  .topdiv {
    .headmain {
      .videolesson {
        font-size: 26px !important;
        margin-bottom: -10px !important;
      }
    }
  }

  .l-navbar {
    display: none !important;
    .nav {
      display: none !important;
    }
  }

  .searchinputfield {
    display: none;
  }

  // .searchcontainer{
  // width: 100%; display: flex; align-items: center;
  .icon {
    display: none;
  }

  .secondcontainer {
    width: 220px !important;
    margin-left: 0px !important;
    height: 42px !important ;
    // margin-top: 0px !important;
    // margin-right: 0px !important;
    // align-items: center;
    // position: relative;
    // justify-content: center;
    padding-left: 10px !important;
    border: none !important;
    border-radius: 0px !important;
    // display: flex;
    .dropd {
      // border: 1px solid white;
      // margin-left: 20px;
      display: none !important;
      position: absolute;
      right: 10px !important;
    }
    .lineclass {
      position: absolute;
      top: 2px !important;
      left: 70px;
      .userprofileheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;
      }
      .verifiedheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height */
        position: absolute;
        bottom: -23px;
        color: #ffffff;

        opacity: 0.4;
      }
    }
  }
}

@media screen and (max-width: 679px) {
  .mainCard {
    background-color: #141414;
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
  }

  .maincard {
    display: flex;
    .videoclass {
      width: 180px;
      // object-fit: fill;
      border-radius: 20px;
      // height: 100px;
    }
    // border: 1px solid white;

    .submaincontainer {
      padding: 0px 0px;
      padding-left: 20px;
    }
  }
}
