@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgb(20, 20, 20) !important;
}

a {
  text-decoration: none;
}

.search-container {
  width: 100%;
  display: flex;
  padding-top: 20px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}
.search-container .user-profile-container {
  width: 260px;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  margin-right: 10px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
}
.search-container .user-profile-container .drop-down-container {
  position: absolute;
  right: 20px;
}
.search-container .user-profile-container .drop-down-container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.search-container .user-profile-container .drop-down-container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.search-container .user-profile-container .drop-down-container input[type=checkbox] {
  visibility: hidden;
}
.search-container .user-profile-container .lineclass {
  position: absolute;
  top: 5px;
  left: 70px;
}
.search-container .user-profile-container .lineclass .verified-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  margin-top: -6px;
  opacity: 0.4;
}
.search-container .user-profile-container .lineclass .user-profile-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  margin-top: 3px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.search-container .dropdown_submenu {
  width: 300px;
  background: #242323;
  border-radius: 16px;
  margin-top: 10px;
}
.search-container .dropdown_submenu .addprofile {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
}
.search-container .dropdown_submenu .addprofile .addprofiletext {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #bdbbbb;
}
.search-container .dropdown_submenu .user-sub-profile-container {
  width: 260px;
  cursor: pointer;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 20px;
  display: flex;
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass {
  position: absolute;
  top: 5px;
  left: 50px;
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass .user-profile-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 3px;
  line-height: 21px;
  color: #ffffff;
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass .verified-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-top: -6px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container input[type=checkbox] {
  visibility: hidden;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container {
  position: absolute;
  right: 10px;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main input:checked ~ .check:after {
  display: block;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .check:after {
  content: "";
  position: absolute;
  display: none;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main input:checked ~ .check {
  background-color: #FFBB54;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.search-container .dropdown_submenu .user-sub-profile-container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.search-container .dropdown_submenu .user-sub-profile-container .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-container .dropdown-toggle::after {
  content: none !important;
}
.search-container .search-icon {
  position: relative;
  left: 40px;
}
.search-container .search-input-field {
  background: #262626;
  border-radius: 8px;
  border: none;
  color: white;
  width: 571px;
  height: 60px;
  padding-left: 60px;
}
.search-container .bellIcon {
  margin-left: 12px;
}

.accordion-item {
  background-color: #161616 !important;
  border: none !important;
}

.navlist_two {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}
.header .openMobileMono {
  display: none;
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  position: fixed;
  left: 270px;
  margin-top: 10px;
  padding: 10px 6px 10px 6px;
  margin-left: 100px;
  border-radius: 0px 10px 10px 0px;
}
.header_toggle .header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.left-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 374px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navitemclass .navitemclass:focus {
  border-bottom: 2px solid white !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-item:first-of-type .accordion-button::after {
  content: "";
  background-image: url(../../img/vectorarrow.png) !important;
  margin-left: 16px;
  background-size: 11.3px;
  margin-top: -12px;
  transform: rotate(180deg);
}
.accordion-item:first-of-type .accord-button {
  background-color: #141414 !important;
  border: none;
  outline: none;
  width: 300px;
  color: #ffffff;
}
.accordion-item:first-of-type .accord-button .nav_nameTwo {
  margin-left: 40px;
}
.accordion-item:first-of-type .accord-button span {
  margin-left: 24px !important;
}
.accordion-item:first-of-type .accord-button:hover {
  background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
  position: relative;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  width: 400px !important;
  font-size: 16px;
  padding-left: 40px;
  background-color: transparent !important;
  line-height: 22px;
  align-items: center;
}
.accordion-item:first-of-type .accorbd {
  background-color: #141414;
  padding-left: 45px !important;
}
.accordion-item:first-of-type .accorbd .sub-accordion span {
  font-size: 14px;
  margin-left: -20px;
}

.nav_list .nav_link {
  font-family: "Poppins";
  font-style: normal;
  padding-left: 70px;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
.nav_list .nav_link span {
  margin-left: -15px;
}
.nav_list .nav_link:hover {
  background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
  height: 100% !important;
}
.nav_list .nav-link-support {
  position: relative;
  top: 8px;
  margin-left: -27.5px;
}
.nav_list .nav-link-support span {
  margin-left: -12px !important;
}
.nav_list .nav-link-three {
  position: relative;
  top: 8px;
  margin-left: -28px;
  text-decoration: none;
}
.nav_list .nav_link_refer_a_friend {
  margin-left: -30px;
  position: relative;
  top: 8px;
  text-decoration: none;
}

.nav_logo, .nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  text-decoration: none;
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 36px;
  text-decoration: none !important;
  line-height: 54px;
  margin-left: -10px;
  color: #ffffff;
}
.nav_logo .nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo .nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
  margin-top: 20px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.active::before .active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 44px;
  background-color: #ffbb54;
}

.mainCard {
  margin-left: 15px;
  margin-top: 20px;
  background-color: #0e0e0e;
  border-radius: 28px;
}
.mainCard .videoclass {
  width: 320px;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}

.sub-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 1px;
}

.secondary-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 0px;
}

.final-sub-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
}

.sub-main-header-container {
  width: 200px;
}

.maincard .videoclass {
  width: 320px;
}
.maincard .sub-main-container {
  padding: 0px 32px;
}

.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}

.videodiv {
  width: 332px;
  left: 419px;
  background: url(image.png);
  border-radius: 14px;
}

.seperator {
  margin-top: 24px;
  opacity: 0.05;
  border: 1px solid #FFFFFF;
  margin-bottom: 28px;
}
@media screen and (max-width: 600px) {
  .seperator {
    display: none;
  }
}

.main-header-container {
  position: relative;
  top: 20px;
  padding-left: 180px;
}
.main-header-container .main-sub-header-container .video-lesson-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}
.main-header-container .main-sub-header-container .sub-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-left: 96px;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .left-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show-navbar {
    width: calc(var(--nav-width) - 8px);
  }
}
@media screen and (max-width: 767px) {
  .body-pd {
    padding-left: 0px;
  }
}
.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: -145px;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  .header {
    padding: 40px 20px;
  }
  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .main-header-container .main-sub-header-container .video-lesson-header {
    font-size: 26px !important;
    margin-bottom: -10px !important;
  }

  .left-navbar {
    display: none !important;
  }
  .left-navbar .nav {
    display: none !important;
  }

  .search-container .search-icon {
    display: none;
  }
  .search-container .search-input-field {
    display: none;
  }
  .search-container .icon {
    display: none;
  }
  .search-container .second-container {
    width: 220px !important;
    margin-left: 0px !important;
    height: 42px !important;
    padding-left: 10px !important;
    border: none !important;
    border-radius: 0px !important;
  }
  .search-container .second-container .dropd {
    display: none !important;
    position: absolute;
    right: 10px !important;
  }
  .search-container .second-container .user-profile-sub-container {
    position: absolute;
    top: 2px !important;
    left: 70px;
  }
  .search-container .second-container .user-profile-sub-container .user-profile-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
  .search-container .second-container .user-profile-sub-container .verified-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    position: absolute;
    bottom: -23px;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 991px) {
  .accordion-item:first-of-type .accordion-button {
    width: 100% !important;
  }

  .section2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  .transactionContent {
    padding-left: 40px;
    margin-top: -50px !important;
  }

  .formcontentDiv {
    padding: 20px 20px 20px 20px;
  }

  .newcontainer {
    display: none !important;
  }

  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }

  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }

  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }
  .navlist_twoclass a {
    text-decoration: none !important;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .avatar {
    margin-left: 20px;
  }

  .navlist_two {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }

  .navlist_two a {
    text-decoration: none !important;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .left-navbar {
    display: none !important;
  }

  .left-navbar .nav {
    display: none !important;
  }

  .search-container .bellIcon {
    display: none;
  }

  .search-container .search-icon {
    display: none;
  }

  .search-container .search-input-field {
    display: none;
  }

  .search-container .icon {
    display: none;
  }

  .search-container .user-profile-container {
    display: none !important;
  }

  .search-container {
    display: none !important;
  }

  .navlist_two {
    display: block !important;
    padding-left: 0px;
    padding-top: 40px;
  }

  .newcontainer {
    display: none !important;
  }

  .main-container {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }

  .main-header-container {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }

  .navlist_two {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }
  .navlist_two a {
    text-decoration: none !important;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .left-navbar {
    display: none !important;
  }

  .left-navbar .nav {
    display: none !important;
  }

  .search-container .bellIcon {
    display: none;
  }

  .search-container .search-icon {
    display: none;
  }

  .search-container .search-input-field {
    display: none;
  }

  .search-container .second-container {
    display: none;
  }

  .search-container .icon {
    display: none;
  }
}
@media screen and (max-width: 679px) {
  .main-header-container .main-sub-header-container .video-lesson-header {
    line-height: 87px;
  }

  .mainCard {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
  }

  .maincard {
    display: flex;
  }
  .maincard .videoclass {
    width: 200px;
    border-radius: 20px;
  }
  .maincard .sub-main-container {
    padding: 0px 0px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 420px) {
  .navbar-toggler {
    position: fixed !important;
    right: 5px !important;
    top: 5px !important;
    z-index: 1;
  }
}
@media screen and (max-width: 1145px) {
  .search-container .search-input-field {
    width: 400px;
  }
}

/*# sourceMappingURL=refer.css.map */
