@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgb(20, 20, 20) !important;
}

a {
  text-decoration: none;
}

.searchcontainer {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchcontainer .searchicon {
  position: relative;
  left: 40px;
}
.searchcontainer .icon {
  background-color: rgb(96, 94, 0);
  backdrop-filter: blur(1px);
  opacity: 0.6;
  padding: 5px 10px 10px 10px;
  border-radius: 8px;
}
.searchcontainer .searchinputfield {
  background: #262626;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  height: 40px;
  padding-left: 60px;
}
.searchcontainer .secondcontainer {
  width: 260px;
  cursor: pointer;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  margin-right: 10px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 20px;
  display: flex;
}
.searchcontainer .secondcontainer .dropd {
  position: absolute;
  right: 20px;
}
.searchcontainer .secondcontainer .lineclass {
  position: absolute;
  top: 5px;
  left: 70px;
}
.searchcontainer .secondcontainer .lineclass .userprofileheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
}
.searchcontainer .secondcontainer .lineclass .verifiedheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  color: #ffffff;
  opacity: 0.4;
}

.row .search {
  width: 100%;
  height: 60px;
  background: black;
  border-radius: 14px;
  padding-left: 80px;
}
.row .searchIcon {
  position: absolute;
  left: 14.92%;
  right: 91.38%;
  top: 31.81%;
  bottom: 32.93%;
  color: #c4c4c4;
}
.row .imageDropDown {
  /* opacity: 0.1; */
  width: 260px;
  border: 1.5px solid #ffffff;
  /* box-sizing: border-box; */
  border-radius: 16px;
  height: 60px;
}
.row .avatar {
  margin-top: 8px;
}
.row ::placeholder {
  color: #c4c4c4;
  text-align: left;
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

.navlist_twoclass {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(81, 80, 80);
  position: relative;
  left: 0;
  padding: 0px 6px 8px 6px;
  margin-left: 40px;
  border-radius: 0px 10px 10px 0px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 90px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navitemclass:focus {
  border-bottom: 2px solid white !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.nav_list .navlinkthree {
  position: relative;
  top: -16px;
  left: 3px;
}
.nav_list .nav_link .nav_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}
.nav_logo .accordion-item,
.nav_link .accordion-item {
  position: relative !important;
  left: -20px !important;
}
.nav_logo .accordion-item .nav_name,
.nav_link .accordion-item .nav_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
}
.nav_logo #collapseOne,
.nav_link #collapseOne {
  border: none;
}
.nav_logo .accorbd,
.nav_link .accorbd {
  background-color: #141414;
}
.nav_logo .accorbd .inneraccor,
.nav_link .accorbd .inneraccor {
  margin-left: 38px;
}
.nav_logo .accorbd .inneraccor span,
.nav_link .accorbd .inneraccor span {
  font-size: 12px;
  margin-left: -20px;
}
.nav_logo .accorbtn,
.nav_link .accorbtn {
  background-color: #141414 !important;
  border: none;
  outline: none;
  width: auto;
  color: white !important;
}
.nav_logo .accorbtn .nav_nameTwo,
.nav_link .accorbtn .nav_nameTwo {
  margin-left: 40px;
}
.nav_logo .accordion-button::after,
.nav_link .accordion-button::after {
  content: "";
  background-image: url(../../img/vectorarrow.png) !important;
  margin-left: 16px;
  background-size: 11.3px;
  margin-top: -12px;
  transform: rotate(180deg);
}

.nav_link:hover {
  background: radial-gradient(354.23% 3112.34% at -29.41% 333.8%, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  width: 100% !important;
  height: 100% !important;
}

.nav_name:hover {
  color: #ffbb54 !important;
}

.nav_logo {
  margin-bottom: 2rem;
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 800; */
  font-size: 36px;
  line-height: 54px;
  margin-left: -45px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_link:hover {
  background-color: var(--white-color);
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 45px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}

.mainCard {
  margin-left: 30px;
  margin-top: 20px;
  background-color: #0e0e0e;
  border-radius: 28px;
}
.mainCard .videoclass {
  width: 320px;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  /* identical to box height */
  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  color: #ffffff;
  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard .videoclass {
  width: 320px;
}
.maincard .submaincontainer {
  padding: 0px 32px;
}

.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}

.videodiv {
  width: 332px;
  left: 419px;
  background: url(image.png);
  border-radius: 14px;
}

.topdiv {
  position: relative;
  top: 20px;
  padding-left: 180px;
}
.topdiv .headmain .videolesson {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  /* identical to box height */
  color: #ffffff;
}
.topdiv .headmain .parahead {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  color: #ffffff;
  opacity: 0.6;
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 120px;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
  }
}
@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}
.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: 170px;
  transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  .header {
    padding: 40px 20px;
  }
  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .topdiv .headmain .videolesson {
    font-size: 26px !important;
    margin-bottom: -10px !important;
  }

  .l-navbar {
    display: none !important;
  }
  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .searchicon {
    display: none;
  }
  .searchcontainer .searchinputfield {
    display: none;
  }
  .searchcontainer .icon {
    display: none;
  }
  .searchcontainer .secondcontainer {
    width: 220px !important;
    margin-left: 0px !important;
    height: 42px !important;
    padding-left: 10px !important;
    border: none !important;
    border-radius: 0px !important;
  }
  .searchcontainer .secondcontainer .dropd {
    display: none !important;
    position: absolute;
    right: 10px !important;
  }
  .searchcontainer .secondcontainer .lineclass {
    position: absolute;
    top: 2px !important;
    left: 70px;
  }
  .searchcontainer .secondcontainer .lineclass .userprofileheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #ffffff;
  }
  .searchcontainer .secondcontainer .lineclass .verifiedheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    position: absolute;
    bottom: -23px;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 991px) {
  .newcontainer {
    display: none !important;
  }

  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }

  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }

  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .l-navbar {
    display: none !important;
  }

  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .bellIcon {
    display: none;
  }

  .searchcontainer .searchicon {
    display: none;
  }

  .searchcontainer .searchinputfield {
    display: none;
  }

  .searchcontainer .icon {
    display: none;
  }
}
@media screen and (max-width: 679px) {
  .topdiv .headmain .videolesson {
    line-height: 87px;
  }

  .mainCard {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
  }

  .maincard {
    display: flex;
  }
  .maincard .videoclass {
    width: 200px;
    border-radius: 20px;
  }
  .maincard .submaincontainer {
    padding: 0px 0px;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=refer.css.map */
