@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgb(20, 20, 20) !important;
}

a {
  text-decoration: none;
}

.search_container {
  width: 100%;
  display: flex;
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  align-items: center;
}
.search_container .search_icon {
  position: relative;
  left: 40px;
}
.search_container .icon {
  background-color: rgb(96, 94, 0);
  backdrop-filter: blur(1px);
  opacity: 0.6;
  padding: 5px 10px 10px 10px;
  border-radius: 8px;
}
.search_container .search_input_field {
  background: #262626;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  color: white;
  padding-left: 60px;
}
.search_container .user-profile-container {
  width: 260px;
  margin-left: 20px;
  height: 60px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 10px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 20px;
  display: flex;
}
.search_container .user-profile-container .dropdown_container {
  position: absolute;
  right: 20px;
}
.search_container .user-profile-container .profile-info {
  position: absolute;
  top: 5px;
  left: 70px;
}
.search_container .user-profile-container .profile-info .user_profile_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.search_container .user-profile-container .profile-info .verified_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.search_container .dropdown-toggle::after {
  content: none !important;
}
.search_container .dropdown_submenu {
  width: 300px;
  background: #242323;
  border-radius: 16px;
  margin-top: 10px;
}
.search_container .dropdown_submenu .secondcontainertwo {
  width: 260px;
  cursor: pointer;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 20px;
  display: flex;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container {
  position: absolute;
  right: 10px;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container input[type=checkbox] {
  visibility: hidden;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .main input:checked ~ .check {
  background-color: #FFBB54;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .check:after {
  content: "";
  position: absolute;
  display: none;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .main input:checked ~ .check:after {
  display: block;
}
.search_container .dropdown_submenu .secondcontainertwo .dropdown_container .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search_container .dropdown_submenu .secondcontainertwo .profile-info {
  position: absolute;
  top: 5px;
  left: 50px;
}
.search_container .dropdown_submenu .secondcontainertwo .profile-info .user_profile_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.search_container .dropdown_submenu .secondcontainertwo .profile-info .verified_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.search_container .dropdown_submenu .add_profile {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
}
.search_container .dropdown_submenu .add_profile .add_profile_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #bdbbbb;
}

.accordion-item {
  background-color: #161616 !important;
  border: none !important;
}

.row .search {
  width: 100%;
  height: 60px;
  background: black;
  border-radius: 14px;
  padding-left: 80px;
}
.row .imageDropDown {
  width: 260px;
  border: 1.5px solid #ffffff;
  border-radius: 16px;
  height: 60px;
}
.row .avatar {
  margin-top: 8px;
}
.row ::placeholder {
  color: #c4c4c4;
  text-align: left;
}

.navbar-toggler {
  margin-right: -10px !important;
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

.navlist_twoclass {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(81, 80, 80);
  position: fixed;
  left: 50px;
  z-index: 1;
  padding: 10px 6px 10px 6px;
  margin-left: 40px;
  border-radius: 0px 10px 10px 0px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.left-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 90px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navitemclass:focus {
  border-bottom: 2px solid white !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-left: -26.5px;
  background-color: transparent !important;
  line-height: 22px;
  align-items: center;
}
.accordion-item:first-of-type .accordion-button-sub {
  background-color: #141414;
}
.accordion-item:first-of-type .accordion-button-sub .inneraccor {
  margin-left: 7px;
}
.accordion-item:first-of-type .accordion-button-sub .inneraccor span {
  font-size: 14px;
  margin-left: -20px;
}
.accordion-item:first-of-type .accorbtn {
  background-color: #141414 !important;
  border: none;
  outline: none;
  width: 280px;
  color: #ffffff;
}
.accordion-item:first-of-type .accorbtn span {
  margin-left: 38px !important;
}
.accordion-item:first-of-type .accorbtn .nav_nameTwo {
  margin-left: 40px;
}
.accordion-item:first-of-type .accorbtn:hover {
  background: radial-gradient(354.23% 3112.34% at -29.41% 333.8%, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
}
.accordion-item:first-of-type .accordion-button::after {
  content: "";
  background-image: url(../../img/vectorarrow.png) !important;
  margin-left: 16px;
  background-size: 11.3px;
  margin-top: -12px;
  transform: rotate(180deg);
}

.nav_list .nav-link-sub-friend {
  position: relative;
  top: 10px;
}
.nav_list .nav-link-sub-friend span {
  margin-left: -3.9px;
}
.nav_list .navlinkthree {
  position: relative;
  top: 10px;
  margin-left: -28px;
  text-decoration: none;
  left: px;
}
.nav_list .nav_link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  text-decoration: none;
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.nav_link:hover {
  background: radial-gradient(354.23% 3112.34% at -29.41% 333.8%, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
  height: 100% !important;
}

.nav_logo {
  margin-bottom: 2rem;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 36px;
  text-decoration: none !important;
  line-height: 54px;
  margin-left: -45px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 45px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}

.mainCard {
  margin-left: 30px;
  margin-top: 20px;
  background-color: #0e0e0e;
  border-radius: 28px;
}
.mainCard .videoclass {
  width: 320px;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard .videoclass {
  width: 320px;
}
.maincard .submaincontainer {
  padding: 0px 32px;
}

.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}

.videodiv {
  width: 332px;
  left: 419px;
  background: url(image.png);
  border-radius: 14px;
}

.firstcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 200px !important;
}
.firstcontainer .mainContainer {
  margin-top: 100px;
  width: 100%;
}
.firstcontainer .mainContainer .tabscontainer {
  border: 1px solid white;
  margin-right: -500px;
  margin-left: 50px;
  height: 300px;
  margin-top: -50px;
}
.firstcontainer .mainContainer .secondmaincontainer {
  padding: 40px;
  border-radius: 30px;
  width: 100%;
  position: relative;
  background: #0e0e0e;
}
.firstcontainer .mainContainer .secondmaincontainer .containerimage1 {
  position: absolute;
  left: 40%;
  top: 0;
}
.firstcontainer .mainContainer .secondmaincontainer .containerimage2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.firstcontainer .mainContainer .secondmaincontainer .thirdcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.firstcontainer .mainContainer .secondmaincontainer .thirdcontainer .thirdsubcontainer {
  display: flex;
  margin-top: 10px;
}
.firstcontainer .mainContainer .secondmaincontainer .thirdcontainer .thirdsubcontainer .thirdsubsubcontainer {
  background: #323232;
  border-radius: 14px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.firstcontainer .mainContainer .secondmaincontainer .thirdcontainer .thirdsubcontainer .transactions {
  margin-left: 14px;
}
.firstcontainer .mainContainer .secondmaincontainer .paratext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.firstcontainer .mainContainer .secondmaincontainer .paratexttwo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.55;
}
.firstcontainer .mainContainer .secondmaincontainer .headertext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.firstcontainer .mainContainer .secondmaincontainer .parayellowtext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #ffbb54;
}
.firstcontainer .mainContainer .assetmaincontainer {
  margin-top: 30px;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer {
  display: flex;
  padding: 10px 30px 10px 30px;
  justify-content: space-evenly;
  background: #0e0e0e;
  border-radius: 18px;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .assetsubfirstcontainer {
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .assetsubfirstcontainer .bitcoinheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .assetsubfirstcontainer .BTCheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.8;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .assetsubfirstcontainer .sellheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #14bd6c;
  margin-left: 10px;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .assetsubfirstcontainer .firstnumberheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .thirdassetcontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .thirdassetcontainer .seconddateheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  opacity: 0.6;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .thirdassetcontainer .coinbaseheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.4;
}
.firstcontainer .mainContainer .assetmaincontainer .assetsfirstcontainer .thirdassetcontainer .lastdateheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #14bd6c;
}
.firstcontainer .twocontainer {
  background: #0e0e0e;
  border-radius: 18px;
  width: 70%;
  height: 100%;
  margin-left: 50px;
}
.firstcontainer .twocontainer .twosubcontainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.firstcontainer .twocontainer .twosubcontainer .paratexttwo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.55;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownmaincontainer {
  width: 90px;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownmaincontainer .dropdownbutton {
  background: #0e0e0e;
  border-radius: 18px;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownshowcontainer {
  width: 20%;
  position: relative;
  left: -200px;
  background: #161616;
  border-radius: 12px;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownshowcontainer .dropdownsecondcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownshowcontainer .dropdownsecondcontainer .dropdownthirdcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownshowcontainer .dropdownsecondcontainer .dropdownthirdcontainer .btcheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.firstcontainer .twocontainer .twosubcontainer .dropdownshowcontainer .dropdownsecondcontainer .dropdownthirdcontainer .numberheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #aeb6ce;
}
.firstcontainer .twosubcontainervalue {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.firstcontainer .twosubcontainervalue .greenrating {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 10px;
  color: #3ed10a;
}
.firstcontainer .twosubcontainervalue .headertext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }

  .left-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }
}
@media screen and (max-width: 767px) {
  .body-pd {
    padding-left: 0px;
  }
}
.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: 235px;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  .header {
    padding: 40px 20px;
  }
  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .left-navbar {
    display: none !important;
  }
  .left-navbar .nav {
    display: none !important;
  }

  .search_container .search_icon {
    display: none;
  }
  .search_container .search_input_field {
    display: none;
  }
  .search_container .icon {
    display: none;
  }
  .search_container .user-profile-container {
    width: 220px !important;
    margin-left: 0px !important;
    height: 42px !important;
    padding-left: 10px !important;
    border: none !important;
    border-radius: 0px !important;
  }
  .search_container .user-profile-container .dropdown_container {
    display: none !important;
    position: absolute;
    right: 10px !important;
  }
  .search_container .user-profile-container .profile-info {
    position: absolute;
    top: 2px !important;
    left: 70px;
  }
  .search_container .user-profile-container .profile-info .user_profile_heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }
  .search_container .user-profile-container .profile-info .verified_heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    position: absolute;
    bottom: -23px;
    color: #ffffff;
    opacity: 0.4;
  }
}
.article {
  display: none;
}
@media screen and (max-width: 600px) {
  .article {
    display: block;
    color: white;
    width: 158%;
  }
}

@media screen and (max-width: 600px) {
  .bell_Icon {
    display: none;
  }
}

.article_content {
  padding-left: 130px;
  padding-right: 50px;
}
@media screen and (max-width: 860px) {
  .article_content {
    padding: 0px 30px !important;
    margin-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .article_content {
    margin: 10px !important;
    padding: 10px !important;
  }
}
.article_content .mobile_image {
  display: none;
}
.article_content .mobile_image img {
  width: 35rem;
}
@media screen and (max-width: 600px) {
  .article_content .mobile_image {
    display: flex;
    justify-content: center;
  }
}
.article_content .rectangle {
  margin-top: 37px;
  border-radius: 14px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .article_content .rectangle {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .article_content .new_Display {
    display: flex;
    margin-top: -60px;
    flex-direction: column-reverse;
  }
}
.article_content .new_Display .image-sub-heading {
  margin-top: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}
@media screen and (max-width: 600px) {
  .article_content .new_Display .image-sub-heading {
    margin-top: -13px;
    line-height: 20px;
  }
}
.article_content .new_Display .main-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .article_content .new_Display .main-heading {
    font-size: 24px;
    padding-right: 72px;
  }
}
@media screen and (max-width: 420px) {
  .article_content .new_Display .main-heading {
    line-height: 28px;
  }
}
.article_content .new_Display .date-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.3;
}
@media screen and (max-width: 600px) {
  .article_content .new_Display .date-heading {
    margin-top: 75px;
  }
}
.article_content .new_Display {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .article_content .new_Display {
    display: flex;
    flex-direction: column-reverse;
  }
}
.article_content .sub-parapraph-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 37px;
  /* or 218% */
  padding-right: 50px;
  letter-spacing: 0.02em;
  color: #7f7f7f;
}
@media screen and (max-width: 600px) {
  .article_content .sub-parapraph-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding-right: 0px;
    word-spacing: 0.25px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .article_content {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }

  .transactionContent {
    padding-left: 40px;
    margin-top: -50px !important;
  }

  .formcontentDiv {
    padding: 20px 20px 20px 20px;
  }

  .newcontainer {
    display: none !important;
  }

  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }

  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }

  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }
  .navlist_twoclass a {
    text-decoration: none !important;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .left-navbar {
    display: none !important;
  }

  .left-navbar .nav {
    display: none !important;
  }

  .search_container .bell_Icon {
    display: none;
  }

  .search_container .search_icon {
    display: none;
  }

  .search_container .user-profile-container {
    display: none !important;
  }

  .search_container .search_input_field {
    display: none;
  }

  .search_container .icon {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .navbar-toggler {
    position: fixed !important;
    right: 5px !important;
    top: 5px !important;
    z-index: 1;
  }
}

/*# sourceMappingURL=style.css.map */
