@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgb(20, 20, 20) !important;
}

a {
  text-decoration: none;
}

.navlist_two {
  display: none;
}

.search-container {
  width: 100%;
  display: flex;
  padding-top: 20px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
}

.search-container .search-icon {
  position: relative;
  left: 40px;
}

.search-container .icon {
  background-color: rgb(96, 94, 0);
  backdrop-filter: blur(1px);
  opacity: 0.6;
  padding: 5px 10px 10px 10px;
  border-radius: 8px;
}

.search-container .search-input-field {
  background: #262626;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  width: 571px;
  height: 60px;
  padding-left: 60px;
}

.search-container .user-profile-container {
  width: 260px;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  margin-right: 10px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
}

.accordion-item {
  background-color: #161616 !important;
  border: none !important;
}

.search-container .bellIcon {
  margin-left: 12px;
}

.search-container .dropdown-toggle::after {
  content: none !important;
}
.search-container .dropdown_submenu {
  width: 300px;
  background: #242323;
  border-radius: 16px;
  margin-top: 10px;
}
.search-container .dropdown_submenu .user-sub-profile-container {
  width: 260px;
  cursor: pointer;
  margin-left: 20px;
  height: 60px;
  margin-top: 2px;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 20px;
  display: flex;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container {
  position: absolute;
  right: 10px;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container input[type=checkbox] {
  visibility: hidden;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main input:checked ~ .check {
  background-color: #FFBB54;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .check:after {
  content: "";
  position: absolute;
  display: none;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main input:checked ~ .check:after {
  display: block;
}
.search-container .dropdown_submenu .user-sub-profile-container .drop-down-container .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass {
  position: absolute;
  top: 5px;
  left: 50px;
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass .user-profile-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.search-container .dropdown_submenu .user-sub-profile-container .lineclass .verified-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.search-container .dropdown_submenu .addprofile {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
}
.search-container .dropdown_submenu .addprofile .addprofiletext {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #bdbbbb;
}

.sub-dropdown-show-container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.sub-dropdown-show-container input[type=checkbox] {
  visibility: hidden;
}
.sub-dropdown-show-container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.sub-dropdown-show-container .main input:checked ~ .check {
  background-color: #FFBB54;
}
.sub-dropdown-show-container .check:after {
  content: "";
  position: absolute;
  display: none;
}
.sub-dropdown-show-container .main input:checked ~ .check:after {
  display: block;
}
.sub-dropdown-show-container .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-container .user-profile-container .drop-down-container {
  position: absolute;
  right: 20px;
}
.search-container .user-profile-container .drop-down-container .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.search-container .user-profile-container .drop-down-container input[type=checkbox] {
  visibility: hidden;
}
.search-container .user-profile-container .drop-down-container .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.search-container .user-profile-container .drop-down-container .main input:checked ~ .check {
  background-color: #FFBB54;
}
.search-container .user-profile-container .drop-down-container .check:after {
  content: "";
  position: absolute;
  display: none;
}
.search-container .user-profile-container .drop-down-container .main input:checked ~ .check:after {
  display: block;
}
.search-container .user-profile-container .drop-down-container .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-container .user-profile-container .lineclass {
  position: absolute;
  top: 5px;
  left: 70px;
}

.search-container .user-profile-container .lineclass .user-profile-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.search-container .user-profile-container .lineclass .verified-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.4;
}

.row .search {
  width: 100%;
  height: 60px;
  background: black;
  border-radius: 14px;
  padding-left: 80px;
}

.row .search-icon {
  position: absolute;
  left: 14.92%;
  right: 91.38%;
  top: 31.81%;
  bottom: 32.93%;
  color: #c4c4c4;
}

.row .imageDropDown {
  width: 260px;
  border: 1.5px solid #ffffff;
  border-radius: 16px;
  height: 60px;
}

.row .avatar {
  margin-bottom: 8px;
}

.row ::placeholder {
  color: #c4c4c4;
  text-align: left;
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

.navlist_two {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  color: white;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
  background-color: rgb(81, 80, 80);
  position: fixed;
  /* border: 1px solid white; */
  left: 270px;
  margin-top: 10px;
  padding: 10px 6px 10px 6px;
  margin-left: 100px;
  border-radius: 0px 10px 10px 0px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.left-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 374px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.navitemclass {
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navitemclass:focus {
  border-bottom: 2px solid white !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-left: 40px;
  background-color: transparent !important;
  line-height: 22px;
  align-items: center;
}
.accordion-item:first-of-type .accorbd {
  background-color: #141414;
}
.accordion-item:first-of-type .accorbd .sub-accordion span {
  font-size: 14px;
  margin-left: -20px;
}
.accordion-item:first-of-type .accord-button {
  background-color: #141414 !important;
  border: none;
  outline: none;
  width: 300px;
  color: #ffffff;
}
.accordion-item:first-of-type .accord-button span {
  margin-left: 24px !important;
}
.accordion-item:first-of-type .accord-button .nav_nameTwo {
  margin-left: 40px;
}
.accordion-item:first-of-type .accord-button:hover {
  background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
  position: relative;
}
.accordion-item:first-of-type .accordion-button::after {
  content: "";
  background-image: url(../../img/vectorarrow.png) !important;
  margin-left: 16px;
  background-size: 11.3px;
  margin-top: -12px;
  transform: rotate(180deg);
}

.nav_list .nav-link-support {
  position: relative;
  top: 8px;
  margin-left: -25.5px;
}
.nav_list .nav-link-three {
  position: relative;
  top: 8px;
  margin-left: -28px;
  text-decoration: none;
}
.nav_list .nav_link_refer_a_friend {
  margin-left: -30px;
  position: relative;
  top: 8px;
  text-decoration: none;
}
.nav_list .nav_link_refer_a_friend span {
  margin-left: -2px;
}
.nav_list .nav_link {
  font-family: "Poppins";
  font-style: normal;
  padding-left: 70px;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 10px;
  color: #ffffff;
}
.nav_list .nav_link span {
  margin-left: -15px;
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  text-decoration: none;
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.nav_link:hover {
  background: linear-gradient(to right, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
  color: #ffbb54 !important;
  height: 100% !important;
}

.nav_logo {
  margin-bottom: 2rem;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 36px;
  text-decoration: none !important;
  line-height: 54px;
  margin-left: -10px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
  margin-top: 20px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.active::before .active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 44px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}

.mainCard {
  margin-left: 30px;
  margin-top: 20px;
  background-color: #0e0e0e;
  border-radius: 28px;
}

.mainCard .videoclass {
  width: 320px;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard .videoclass {
  width: 320px;
}

.maincard .submain-sub-container {
  padding: 0px 32px;
}

.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}

.videodiv {
  width: 332px;
  left: 419px;
  background: url(image.png);
  border-radius: 14px;
}

.seperator {
  margin-top: 24px;
  opacity: 0.05;
  border: 1px solid #FFFFFF;
  margin-bottom: 17px;
}
@media screen and (max-width: 600px) {
  .seperator {
    display: none;
  }
}

.main-header-text-container {
  position: relative;
  top: 0px;
  padding-left: 145px;
}

.main-header-text-container .sub-main-header-text-container .main-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}

.main-header-text-container .sub-main-header-text-container .main-header-secondary-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 130px !important;
}

.main-container .main-sub-container {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container .main-sub-container .available-balance-main-container {
  padding: 40px;
  height: 335px;
  border-radius: 30px;
  width: 100%;
  margin-left: 15px;
  margin-right: 10px;
  position: relative;
  background: #0e0e0e;
}

.main-container .main-sub-container .available-balance-main-container .main-container-background-image-one {
  position: absolute;
  left: 40%;
  top: 0;
}

.main-container .main-sub-container .available-balance-main-container .main-container-background-image-two {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-container .main-sub-container .available-balance-main-container .thirdcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container {
  display: flex;
  margin-top: 10px;
}

.main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .sub-balance-container-main {
  background: #323232;
  border-radius: 14px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .transactions {
  margin-left: 14px;
}

.main-container .main-sub-container .available-balance-main-container .paratext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.main-container .main-sub-container .available-balance-main-container .sub-balance-container-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.55;
}

.main-container .main-sub-container .available-balance-main-container .sub-balance-container-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.main-container .main-sub-container .available-balance-main-container .sub-balance-number-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: #ffbb54;
}

.main-container .activity-main-container {
  background: #0e0e0e;
  border-radius: 18px;
  width: 70%;
  height: 335px;
  padding: 40px 40px;
  margin-left: 20px;
  margin-right: 30px;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .sub-balance-container-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.55;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container {
  width: 90px;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container .drop-down-button {
  background: #0e0e0e;
  border: 1.5px solid #494949;
  border-radius: 10px;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container {
  width: 20%;
  position: relative;
  left: -200px;
  background: #161616;
  border-radius: 12px;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .btcheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .dropdown-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  color: #aeb6ce;
}

.main-container .sub-activity-data-container {
  display: flex;
  align-items: center;
}

.main-container .sub-activity-data-container .main-activity-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 10px;
  color: #3ed10a;
}

.main-container .sub-activity-data-container .sub-balance-container-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.main-container .activity-container-graph {
  width: 100%;
  height: 215px;
  padding: 10px;
}

.main-container .activity-container-graph .activity-sub-container-graph {
  width: 100% !important;
  height: 160px !important;
}

.main-container .assets-main-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .assets-main-container-wrapper .assets-main-container {
  width: 100%;
  margin-top: 30px;
  padding-left: 20px;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper {
  display: flex;
  padding: 10px 30px 10px 30px;
  justify-content: space-evenly;
  background: #0e0e0e;
  margin-top: 10px;
  border-radius: 18px;
  margin-left: -5px;
}

.assets-sub-container {
  position: relative;
  left: 0;
  top: 30px;
}

.assets-sub-container .assets-image-one {
  position: absolute;
  left: 15px;
  top: 15px;
}

.assets-sub-container .assets-image-two {
  position: absolute;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container {
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .asssets-main-graph-container {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.asssets-main-graph-container .assets-sub-graph-container {
  width: 100%;
  height: 140px;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .bit-coin-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .BTCheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.8;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .sell-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #14bd6c;
  margin-left: 10px;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .price-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.assets-date-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.buy-sub-content-container > img {
  width: 40px;
  height: 40px;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-date-container {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  position: relative;
  top: 10px;
  opacity: 0.6;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  position: relative;
  top: 12px;
  opacity: 0.4;
}

.main-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-currency {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #14bd6c;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  height: auto;
  width: 66%;
  margin-top: -10px;
  background: #0e0e0e;
  border-radius: 18px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px 0px 0px;
  padding-bottom: 16px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-main-container .navitemclass {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  width: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 7px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second {
  border-radius: 14px;
  background: #272727;
  margin-top: 10px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section {
  display: flex;
  width: 100%;
  background: #272727;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 16px 10px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .main {
  display: block;
  position: relative;
  cursor: pointer;
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section input[type=checkbox] {
  visibility: hidden;
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .check {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: rgb(57, 56, 56);
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .main input:checked ~ .check {
  background-color: #ffbb54;
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .check:after {
  content: "";
  position: absolute;
  display: none;
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .main input:checked ~ .check:after {
  display: block;
}
.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .main .check:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .coinname-header-tabs {
  font-family: "Poppins";
  font-style: normal;
  margin-left: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  position: relative;
  top: 5px;
  color: #ffffff;
  opacity: 0.6;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container .bit-coin-header-text {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container {
  display: flex;
  width: 100%;
  background: #272727;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 16px 10px;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .coinname-header-tabs {
  font-family: "Poppins";
  font-style: normal;
  margin-left: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  position: relative;
  top: 5px;
  left: 2px;
  opacity: 0.6;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .buy-sub-content-container {
  display: flex;
  margin-left: 10px;
  align-items: center;
  width: 100%;
}

.main-container .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .buy-sub-content-container .bit-coin-header-text {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .left-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show-navbar {
    width: calc(var(--nav-width) + -8px);
  }
}
@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}
.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: -150px;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .avatar {
    margin-left: 20px;
  }

  .navlist_two {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
  }
  .navlist_two a {
    text-decoration: none !important;
  }

  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .left-navbar {
    display: none !important;
  }

  .left-navbar .nav {
    display: none !important;
  }

  .search-container .bellIcon {
    display: none;
  }

  .search-container .search-icon {
    display: none;
  }

  .search-container .search-input-field {
    display: none;
  }

  .search-container .icon {
    display: none;
  }

  .search-container .user-profile-container {
    width: 220px !important;
    margin-left: 0px !important;
    height: 42px !important;
    padding-left: 10px !important;
    display: none !important;
    border: none !important;
    border-radius: 0px !important;
  }

  .search-container .user-profile-container .drop-down-container {
    display: none !important;
    position: absolute;
    right: 10px !important;
  }

  .search-container .user-profile-container .lineclass {
    position: absolute;
    top: 2px !important;
    left: 70px;
  }

  .search-container .user-profile-container .lineclass .user-profile-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  .search-container .user-profile-container .lineclass .verified-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    position: absolute;
    bottom: -23px;
    color: #ffffff;
    opacity: 0.4;
  }

  .main-header-text-container {
    padding-left: 10px;
  }

  .main-header-text-container .sub-main-header-text-container .main-header-text {
    font-size: 26px;
  }

  .main-header-text-container .sub-main-header-text-container .main-header-secondary-text {
    margin-top: -18px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
  }

  .main-container .main-sub-container {
    margin-top: 0px;
    flex-direction: column;
  }

  .main-container .main-sub-container .available-balance-main-container {
    padding: 40px;
    border-radius: 30px;
    width: 100%;
    position: relative;
    background: #0e0e0e;
  }

  .main-container .main-sub-container .available-balance-main-container .main-container-background-image-one {
    position: absolute;
    left: 40%;
    top: 0;
  }

  .main-container .main-sub-container .available-balance-main-container .main-container-background-image-two {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container {
    display: flex;
    margin-top: 10px;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .sub-balance-container-main {
    background: #323232;
    border-radius: 14px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .transactions {
    margin-left: 14px;
  }

  .main-container .main-sub-container .available-balance-main-container .paratext {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-container-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.55;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-container-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-number-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #ffbb54;
  }

  .main-container .activity-main-container {
    background: #0e0e0e;
    border-radius: 18px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .sub-balance-container-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.55;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container {
    width: 90px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container .drop-down-button {
    background: #0e0e0e;
    border-radius: 18px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container {
    width: 20%;
    position: relative;
    left: -200px;
    background: #161616;
    border-radius: 12px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .btcheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .dropdown-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #aeb6ce;
  }

  .main-container .sub-activity-data-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .main-container .sub-activity-data-container .main-activity-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    margin-left: 20px;
    margin-top: 10px;
    color: #3ed10a;
  }

  .main-container .sub-activity-data-container .sub-balance-container-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .assets-main-container-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .assets-main-container-wrapper .assets-main-container {
    width: 100%;
    margin-top: 30px;
    padding-left: 20px;
  }

  .assets-main-container-wrapper .assets-main-container .assests-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper {
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-evenly;
    background: #0e0e0e;
    border-radius: 18px;
    margin-left: -20px !important;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container {
    display: flex;
    margin-left: 70px;
    flex-direction: column;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .asssets-main-graph-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .bit-coin-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .BTCheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.8;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .sell-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #14bd6c;
    margin-left: 10px;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .price-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-date-container {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
    position: relative;
    top: 10px;
    opacity: 0.6;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    position: relative;
    top: 12px;
    opacity: 0.4;
  }

  .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-currency {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #14bd6c;
  }

  .assets-main-container-wrapper .tabs-container-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    width: 100% !important;
    margin-top: 20px !important;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
    width: 100%;
    padding-bottom: 16px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-main-container .navitemclass {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    width: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 20px 7px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second {
    border-radius: 14px;
    background: #272727;
    margin-top: 10px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .coinname-header-tabs {
    font-family: "Poppins";
    font-style: normal;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container .bit-coin-header-text {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container {
    display: flex;
    width: 100%;
    background: #272727;
    border-radius: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .coinname-header-tabs {
    font-family: "Poppins";
    font-style: normal;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .buy-sub-content-container {
    display: flex;
    margin-left: 10px;
    align-items: center;
    width: 100%;
  }

  .assets-main-container-wrapper .tabs-container-wrapper .tabs-content-container .buy-sub-container .buy-sub-content-container .bit-coin-header-text {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}
@media screen and (max-width: 500px) {
  .main-header-text-container {
    padding-left: 10px;
  }

  .main-header-text-container .sub-main-header-text-container .main-header-text {
    font-size: 26px;
  }

  .main-header-text-container .sub-main-header-text-container .main-header-secondary-text {
    margin-top: -18px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
  }

  .main-container .main-sub-container {
    margin-top: 0px;
    width: 100%;
  }

  .main-container .main-sub-container .tabs-container-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }

  .main-container .main-sub-container .tabs-container-wrapper .tabs-main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
    padding-bottom: 16px;
  }

  .main-container .main-sub-container .tabs-container-wrapper .tabs-main-container .navitemclass {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    width: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }

  .main-container .main-sub-container .tabs-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 7px;
  }

  .main-container .main-sub-container .tabs-content-container .buy-section-second {
    border-radius: 14px;
    background: #272727;
    margin-top: 10px;
  }

  .main-container .main-sub-container .tabs-content-container .buy-section-second .buy-sub-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .main-container .main-sub-container .tabs-content-container .buy-section-second .buy-sub-section .coinname-header-tabs {
    font-family: "Poppins";
    font-style: normal;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }

  .main-container .main-sub-container .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container {
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .main-container .main-sub-container .tabs-content-container .buy-section-second .buy-sub-section .buy-sub-content-container .bit-coin-header-text {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .main-container .main-sub-container .tabs-content-container .buy-sub-container {
    display: flex;
    width: 400px !important;
    background: #272727;
    border-radius: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
  }

  .main-container .main-sub-container .tabs-content-container .buy-sub-container .coinname-header-tabs {
    font-family: "Poppins";
    font-style: normal;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.6;
  }

  .main-container .main-sub-container .tabs-content-container .buy-sub-container .buy-sub-content-container {
    display: flex;
    margin-left: 10px;
    align-items: center;
    width: 100%;
  }

  .main-container .main-sub-container .tabs-content-container .buy-sub-container .buy-sub-content-container .bit-coin-header-text {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .main-container .main-sub-container .available-balance-main-container {
    padding: 40px;
    border-radius: 30px;
    width: 100%;
    position: relative;
    background: #0e0e0e;
  }

  .main-container .main-sub-container .available-balance-main-container .main-container-background-image-one {
    position: absolute;
    left: 40%;
    top: 0;
  }

  .main-container .main-sub-container .available-balance-main-container .main-container-background-image-two {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container {
    display: flex;
    margin-top: 10px;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .sub-balance-container-main {
    background: #323232;
    border-radius: 14px;
    padding: 14px 10px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main-container .main-sub-container .available-balance-main-container .thirdcontainer .sub-balance-container .transactions {
    margin-left: 14px;
  }

  .main-container .main-sub-container .available-balance-main-container .paratext {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-container-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.55;
  }

  .main-container .main-sub-container .available-balance-main-container .last-activity-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 20px;
    font-size: 10px;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-container-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
  }

  .main-container .main-sub-container .available-balance-main-container .sub-balance-number-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    color: #ffbb54;
  }

  .main-container .main-sub-container .assets-main-container-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container {
    margin-top: 30px;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assetsmain-container {
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-evenly;
    background: #0e0e0e;
    border-radius: 18px;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .asssets-main-graph-container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .asssets-main-graph-container .assets-sub-graph-container {
    height: 140px !important;
    width: 180px !important;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .bit-coin-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .BTCheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.8;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .sell-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #14bd6c;
    margin-left: 10px;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-secondary-container .price-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-date-container {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
    opacity: 0.6;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    opacity: 0.4;
  }

  .main-container .main-sub-container .assets-main-container-wrapper .assets-main-container .assests-sub-container-wrapper .assets-date-container .assets-coinbase-currency {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #14bd6c;
  }

  .main-container .activity-main-container {
    background: #0e0e0e;
    border-radius: 18px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .sub-balance-container-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.55;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container {
    width: 90px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .bitcoin-dropdown-container .drop-down-button {
    background: #0e0e0e;
    border-radius: 18px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container {
    width: 20%;
    position: relative;
    left: -200px;
    background: #161616;
    border-radius: 12px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .btcheading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  .main-container .activity-main-container .activity-sub-scontainer-wrapper .drop-down-show-container .sub-dropdown-show-container .sub-dropdown-data-container .dropdown-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #aeb6ce;
  }

  .main-container .sub-activity-data-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .main-container .sub-activity-data-container .main-activity-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    margin-left: 20px;
    margin-top: 10px;
    color: #3ed10a;
  }

  .main-container .sub-activity-data-container .sub-balance-container-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
@media screen and (max-width: 420px) {
  .navbar-toggler {
    position: fixed !important;
    right: 5px !important;
    top: 5px !important;
    z-index: 1;
  }
}
@media screen and (max-width: 1106px) {
  .search-container .search-input-field {
    width: 400px;
  }
}
















































































