// @import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Poppins:wght@100;200;300;500&display=swap");

* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

$bgColor: #161616;
$white: #fff;
$textColor: #ffbb54;
$fontfamily: "Poppins";
$inputBg: #2d2d2d;
// for increase button width for mobile ($buttonWidth* 24%) & for mobile ($buttonWidth * 50%) ========
$buttonWidth: 2;
// for styling button height every button like social link and submit button
$buttonHeight: 2;
// mpbile button height width will be 100%
$mobileButtonHeight: 2;
// social media icons size=====================
$SocialIconSize: 4;
// top header memu links sizes ==========
$menuLink: 0.2rem;
//for header text size ===============
$textSize: 2rem;
//for small paragraph size========
$paraSize: 1rem;
// for button text size ====================
$buttonTextSize: 0.8rem;

body {
  background-color: $bgColor !important;
  overflow-x: hidden;
}
.top .ellipse {
  position: absolute;
  top: 50px;
  left: 0px;
  opacity: 1 !important;
}

.top {
  width: 100%;
  position: relative;

  // absolute images on left and right to show in background ===========================
  .topLeftImg {
    position: absolute;
    top: -100px;
    left: -380px;
    transform: rotate(320deg);
    width: 700px;
    height: 700px;
    // z-index: -1;
    opacity: 0.1;
  }

  .ellipse {
    position: absolute;
    top: -40px;
    // left: 200px;
    // opacity: 10px;
  }

  .maskGroup {
    z-index: -1;
    position: absolute;
    right: 0px;
    bottom: 40px;
    opacity: 0.2;
  }

  // end here ==========================================================================

  // header section start here ===========================
  .header {
    width: 96%;
    max-width: 1160px;
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";

    .logoMenu {
      display: flex;
      align-items: center;

      h1 {
        margin-right: 40px;
        color: $white;
        font-family: inherit;
        font-size: calc(#{$textSize} + 1vw);
        font-weight: 400;
      }
    }

    // right section start here ====================
    .right {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .menu {
        a {
          padding: 0px 20px;
          text-decoration: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: calc(#{$menuLink} + 1vw);
          line-height: 22px;
          font-family: inherit;
          color: $white;
          opacity: 0.6;

          &.feature {
            padding-left: 50px;
            border-left: 1px solid $white;
            opacity: 0.6;
          }
        }
      }

      // header left ic0ns===============
      .socialIcons {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: #ffbb54;
          text-decoration: none;

          .icons {
            border: 1px solid #ffbb54;
            border-radius: 15px;
            margin: 0px 10px;
            width: calc(#{$SocialIconSize} * 1vw);
            height: calc(#{$SocialIconSize} * 1vw);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffbb54;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
              cursor: pointer;
              background-color: #ffbb54;
              color: #000;
            }
          }
        }
      }
    }

    // mobile menu start here ==================
    .openMobileMenu {
      display: none;
      cursor: pointer;
      border-radius: 5px;
      background-color: #2d2d2d;

      img {
        vertical-align: middle;
        padding: 7px;
      }
    }
  }
}

.backgroundimage2 {
  position: absolute !important;
  top: 0 ;
  right: 0;
  z-index: -1;
}

.backgroundimage3{
  display: none;
}

.section1 {
  display: flex;
  justify-content: center;
  margin-top: 135px;

  .topHeading {
    display: flex;
    justify-content: center;
    height: 35px;
    background: #2c251a;
    border-radius: 8px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffbb54;
    padding: 20px;
  }
}

.section2 {
  display: flex;
  justify-content: center;

  .paragraph {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
    color: #ffffff;
    margin-top: 12px;
  }
}

.section3 {
  display: flex;
  justify-content: center;

  .paragraph3 {
    margin-top: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.6;
  }
}

// .sliderimages{
//   .sliderimage{
//    width: 100%;
//   }
// }

.section4 {
  display: flex;
  justify-content: center;

  .learnMore {
    margin-top: 34px;

    background: #ffbb54;
    border-radius: 14px;
    border: none;
    padding: 15px 34px;
  }
}

.section5 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .firstImageTwo {
    margin-top: 88px;
    // width: 828.54px !important;
    object-fit: contain;
    height: 572.42px;
    border-bottom-left-radius: 100%;
    opacity: 0.8;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
  }
}

.section6maincontainer {
  margin-top: 50px;
  // border: 1px solid white;
  // padding-top: 50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;

  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  .firstImage {
    position: absolute;
    opacity: 0.05;
    filter: blur(2px);
    // height: 200%;
    object-fit: contain;
    width: 100%;
  }
  .thirdimage {
    position: absolute;
    right: 0;
    top: -500px;
    z-index: 1;
  }
  .section6 {
    // padding-top: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    // position: absolute;

    .topHeading2 {
      margin-top: 22px;
      display: flex;
      justify-content: center;
      height: 35px;
      background: #2c251a;
      border-radius: 8px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffbb54;
      padding: 20px;
    }
  }
}

.section7 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 46px;
  .row {
    .displayrow {
      display: flex;
      .box {
        position: relative;

        .boxHeading {
          position: absolute;
          top: 30px;
          left: 35%;
          justify-content: center;
          align-items: center;
          align-content: center;
          color: #ffffff;
          text-align: center;
          // margin-top: -120px;
        }
        .boxHeading1 {
          position: absolute;
          top: 30px;
          left: 27%;
          justify-content: center;
          align-items: center;
          align-content: center;
          color: #ffffff;
          text-align: center;
          // margin-top: -120px;
        }

        .BoxSubHeading {
          position: absolute;

          top: 55%;
          left: 35%;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          text-align: center;
          letter-spacing: 0.02em;
          color: #ffffff;

          opacity: 0.4;
        }
      }
    }
  }
}

.section6 {
  // padding-top: 200px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  // position: absolute;
  // padding-bottom: 100px;
  .topHeading2 {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    height: 35px;
    background: #2c251a;
    border-radius: 8px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffbb54;
    padding: 20px;
  }
}
.imgsection1 {
  // border: 1px solid white;
  position: absolute;
  left: 0;
}
.imgsection2 {
  margin-top: 50px;
}
.imgsection3 {
  // border: 1px solid red;
  position: absolute;
  // top: 0;
  z-index: -1;
  margin-top: -150px;
  right: 0;
  // margin-top: 100px;
  // border: 1px solid white;
}
.imageslider {
  margin-top: 160px;
  width: 100%;
}
.section8 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .image1 {
    width: 100%;
  }
}

.section9 {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .image5 {
    width: 1001px;
    height: 946px;
  }
}

.section10 {
  display: flex;
  justify-content: center;
  .image4 {
    margin-left: -248px;
    width: 901.08px;
    height: 973.16px;
  }
}

.imagesecondlast {
  margin-top: 60px;
}

.imagesecondlasts {
  // border: 1px solid white;
  position: absolute;
  // height: 110%;
  z-index: -1;
  margin-top: -250px;
  // overflow: hidden;
}
.imagesecondnone{
  display: none;
}

.imagesecondlastss {
  position: absolute;
  margin-left: -200px;
  z-index: -1;
  margin-top: -200px;
}

.section3sub {
  margin-top: 100px;
}

.imagelast {
  position: absolute;
  right: 0;
  margin-top: -200px;
  z-index: -1;
}
.imagelasttwo{
  display: none;
}

.imagelasts {
  position: absolute;
  left: 0;
  margin-top: -200px;
}

.imagelastsss {
  position: absolute;
  // transform: rotate(180deg);
  left: 0px;
  // opacity: 0.8;
  margin-top: -250px;
  z-index: -1;
  // margin-top: -200px;
}

.maindiv{
  display: none;
}


.footer {
  position: absolute;
  width: 1440px;
  height: 400px;
  background: #272727;
  width: 100%;
  // height: 320px;
  // bottom: 0;
  margin-top: 300px;
  // border: 1px solid red;
  .mainFooterDiv {
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
    width: 100%;
    .firstDiv {
      // margin-top: 42px;
      // padding: 100px;
      padding-left: 200px;
      padding-top: 50px;
      height: auto;
      // padding-bottom: 100px;
      width: 100%;
      .content {
        .menu {
          margin-top: 38px;
          margin-left: -16px;
          width: 100%;
          a {
            padding: 0px 20px;
            text-decoration: none;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: calc(#{$menuLink} + 1vw);
            line-height: 20px;
            font-family: inherit;
            color: $white;
            font-size: 15px;
            letter-spacing: -0.204545px;

            &.feature {
              padding-left: 50px;
              opacity: 0.6;
            }
          }
        }
      }

      .copyright {
        margin-top: 60px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2px !important;
        line-height: 20px;
        letter-spacing: -0.204545px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
    .secondDiv {
      .socialmainDiv {
        display: flex;
        // position: relative;
        margin-left: 250px;
        // justify-content: flex-end;
        .socialIcons {
          margin-top: 134px;
          display: flex;
          a {
            text-decoration: none;
            color: #ffbb54;
            text-decoration: none;

            .icons {
              border-radius: 15px;
              margin: 0px 10px;
              // width: calc(#{$SocialIconSize} * 1vw);
              // height: calc(#{$SocialIconSize} * 1vw);
              width: 19.56px;
              height: 15.89px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              cursor: pointer;
              transition: 0.4s;

              &:hover {
                color: #ffbb54;
              }
            }
          }
        }
      }

      .termPolicies {
        padding: 100px 100px 100px 100px;
        // margin-bottom: -120px;
        display: flex;
        position: relative;
        // border: 1px solid green;
        // bottom: -100px;
        // justify-content: space-between;
        // margin-left: -194;
        .term {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          // width: auto;
          // border: 1px solid white;
          width: 110px;
          font-size: 15px;
          line-height: 20px;
          /* identical to box height */
          margin-right: 39px;
          letter-spacing: -0.204545px;
          color: #ffffff;
        }
      }
    }
  }

  .logoMenu {
    display: flex;
    align-items: center;

    h1 {
      margin-right: 40px;
      color: $white;
      font-family: inherit;
      font-size: calc(#{$textSize} + 1vw);
      font-weight: 400;
    }
  }
}

// media query start here ================================================

@media screen and (max-width: 1440px) {
  .backgroundimage2 {
    height: 30%;
    width: 40%;
    opacity: 0.5;
  }
  .imagesecondlasts {
    width: 90%;
    margin-top: -50px;
  }
  .section6maincontainer {
    border-bottom-left-radius: 0px;
    // height: 1000px;.

    overflow: visible;
    border-bottom-right-radius: 0px;
  }

  .section7 {
    .box {
      width: 340px !important;
    }
  }
}



@media screen and (max-width: 1080px) {
  .section7 {
    .boxBorder {
      width: 275px;
    }
    .box {
      width: 300px !important;
    }
  }

  .footer {
    height: auto;
    .mainFooterDiv {
      flex-direction: column;
      .firstDiv {
        padding-left: 10px;
        width: 100%;
      }
      .secondDiv {
        
        .socialmainDiv {
       
          .socialIcons {
            
            // border: 1px solid white;
            margin-top: 18px;
            position: absolute;
            left: 0;
            bottom: 120px;
            display: flex;
            gap: 27px;
            // margin: 67px 0px 27px 0px !important;
            a{
              color: #fff;
            }
          }
        }
        .termPolicies {
          padding: 0px;
          padding-left: 15px;
          // padding-top: 1px;
          margin-top: -85px;
          position: absolute;
          // bottom: -20px;
          display: block;
        }
      }
    }
  }

  .boxHeading {
    position: absolute;
    top: 30px;
    left: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }
  .boxHeading1 {
    position: absolute;
    top: 30px;
    left: 25% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }

  .BoxSubHeading {
    position: absolute;
    margin-top: 10px;
    top: 55%;
    left: 35%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    opacity: 0.4;
  }
}

@media screen and (max-width: 90px) {
  .section7 {
    .boxBorder {
      width: 255px;
    }
    .box {
      width: 300px !important;
    }
  }
}

@media screen and (max-width: 910px) {
  .ellipse {
    display: none;
  }
  .section5 .firstImageTwo {
    margin-top: 0px;
  }
  // .section6maincontainer .firstImage{
  //   margin-top: 100px;
  // }
  .copyright > h1 {
    // margin-top: 60px;
    // font-family: "DM Sans";
    // font-style: normal;
    // font-weight: 400;
    font-size: 20px;
    // line-height: 20px;
    // letter-spacing: -0.204545px;
    // color: #ffffff;
    // mix-blend-mode: normal;
    // opacity: 0.5;
  }
  .imgsection2 {
    // border: 1px solid red !important;
    width: 80%;
    height: 80%;
  }

  .section7 {
    display: flex !important;
    justify-content: center !important;
    .boxBorder {
      width: 225px;
    }
    .box {
      width: 250px !important;
    }
  }

  .boxHeading {
    position: absolute;
    top: 30px;
    left: 36% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }
  .boxHeading1 {
    position: absolute;
    top: 30px;
    left: 24% !important;
    font-size: 34px !important;

    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }

  .BoxSubHeading {
    position: absolute;
    margin-top: 20px !important;
    top: 55%;
    left: 37% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    opacity: 0.4;
  }
}

@media screen and (max-width: 772px) {
  .section7 {
    display: flex !important;
    justify-content: center !important;
    .boxBorder {
      width: 185px;
    }
    .box {
      margin-right: -15px;
      width: 230px !important;
    }
  }

  .boxHeading {
    position: absolute;
    top: 30px;
    left: 27% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }
  .boxHeading1 {
    position: absolute;
    top: 30px;
    left: 19% !important;
    font-size: 34px !important;

    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }

  .BoxSubHeading {
    position: absolute;
    margin-top: 20px !important;
    top: 55%;
    left: 28% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    opacity: 0.4;
  }
}

@media screen and (max-width: 668px) {
  .section7 {
    display: flex !important;
    justify-content: center !important;
    .boxBorder {
      width: 317px !important;
      margin-left: -70px !important;
    }
    .box {
      margin-right: -15px !important;
      width: 230px !important;
    }
  }

  .boxHeading {
    position: absolute;
    top: 30px;
    left: 27% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }
  .boxHeading1 {
    position: absolute;
    top: 30px;
    left: 18% !important;
    font-size: 34px !important;

    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
    // margin-top: -120px;
  }

  .BoxSubHeading {
    position: absolute;
    margin-top: 1px !important;
    top: 55%;
    left: 28% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    opacity: 0.4;
  }
}

@media screen and (max-width: 602px) {
  .footer {
    .mainFooterDiv {
      // flex-direction: column;
      .firstDiv {
        padding-top: 20px;
        // padding-left: 10px;
        // width: 100%;
      }
      .secondDiv{
        .socialmainDiv{

        }
      }
    }
  }















  // .footer {
  //   height: auto;
  //   .mainFooterDiv {
  //     flex-direction: column;
  //     .firstDiv {
  //       padding-left: 10px;
  //       width: 100%;
  //     }
  //     .secondDiv {
  //       .socialmainDiv {
  //         .socialIcons {
  //           margin-top: 18px;
  //           position: absolute;
  //           left: 0;
  //           display: flex;
  //           gap: 27px;
  //           margin: 67px 0px 27px 0px !important;
  //           a{
  //             color: #fff;
  //           }
  //         }
  //       }




.footer{
  display: none;
}


.maindiv{
  background: linear-gradient(180deg, #3a3434 0%, rgba(56, 50, 50, 0) 97.76%);
  // opacity: 0.1;
color: #fff;
margin: 50px;
padding: 50px 0px 50px 0px;
// margin-bottom: 100px;
display: flex;
justify-content: center;
.boll{
  width: 90%;
}
.socialIconsTwo{
  margin-top: 50px;
 margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 47px;
    a{
      color: #fff;
    }
  .logome{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 23.35px;
  line-height: 35px;
  color: #FFFFFF;
  }
  
}
}





  // @media screen and (max-width: 910px)
  .section5 {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .firstImageTwo {
      padding-left: 20px;
      margin-top: -140px;
      width: 90%;
    }
  }

  .section6maincontainer {
    margin-top: -200px;
  }

  .section6 {
    margin-top: 70px;
  }
  // .section34{
  //   margin-top: 100px;
  // }
  .section77 {
    margin-top: -20px;
  }

  .section2 {
    .paragraph {
      // margin-top: -20px;
      // padding-bottom: 0px;
      // border: 1px solid red;
    }
  }
  // .section3{
  // .paragraph3{

  // margin-top: -40px;
  // }
  // }

  .section2 {
    height: 100px;
  }

  .section3subcontainer {
    margin-top: -80px !important;
    // padding-bottom: 20px;
    margin-bottom: 50px;
    // border: 1px solid red !important;
  }

  .section3subcontainer2 {
    margin-bottom: 50px;
    // border: 1px solid red;
  }
  
  .backgroundimage2 {
    // border: 1px solid red !important;
    // transform: rotate(16deg);
    display: none;
    // box-shadow: inset 2px 93px 88px 19px rgba(0,0,0,0.78) !important;
// border: 1px solid red;
    // margin-left: 25px !important;
    // top: 0 !important;
    // margin-top: -50px !important;
    // clip-path: polygon(0 0, 60% 0, 93% 97%, 0% 100%);

    // left: 190px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 30% !important;
    // position: fixed;
    // overflow: hidden;
    // right: -20% !important;
    margin-top: 140px;
    opacity: 1;
    // z-index: -1;
    height: 45%;
    width: 70%;
  }
  .backgroundimage3{
   display: block;
   position: absolute;
   right: 0;
   margin-top: 50px;
  }
  .section5 {
    margin-top: 72px;
  }
  .section7 {
    display: flex !important;
    justify-content: center !important;
    .boxBorder {
      display: flex !important;
      justify-content: center !important;
      width: 317px;
    }
    .box {
      margin-right: 125px;
      width: 230px !important;
    }
  }

  .firstImage {
    opacity: 0.1 !important;
    // border: 1px solid red !important;
  }
  .thirdimage {
    display: none;
    // border: 1px solid red !important;
  }
  .imgsection1 {
    display: none;
    // border: 1px solid red !important;
  }
  .imgsection2 {
    // border: 1px solid red !important;
  }
  .imgsection3 {
    // border: 1px solid red !important;
    display: none;
  }
  .imageslider {
    // border: 1px solid red !important;
  }
  .imagelast {
    // border: 1px solid red !important;
    width: 50%;
    height: 100%;  
    display: none;
    // margin-right: -100px;
  }
  .imagelasts {
    margin-top: -50px;
    z-index:-1;
    width: 40%;
    // border: 1px solid red !important;
  }
  .imagelasttwo{
    right: 0;
    margin-top: -100px;
    position: absolute;
    display: block;
  }
  .imagesecondlast {
    // border: 1px solid red !important;
    width: 70%;
  }
  .imagesecondlasts {
    // border: 1px solid red !important;
    // width: 100%;
    display: none;
    transform: rotate(10deg);
    margin-top: 110px;
  }
  .imagesecondnone{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .imagesecondlastss {
    display: none;
  }
  .imagelastsss {
    // border: 1px solid red !important;
    display: none;
  }

  .top {
    .topLeftImg {
      top: -140px !important;
      left: -80px !important;
      z-index: -1;
      transform: rotate(-30deg);
      height: 300px !important;
      width: 300px !important;
    }
    .header {
      .right {
        display: none !important;
      }

      .openMobileMenu {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 669px) {
  br {
    display: none;
    white-space: pre-line;
  }

  .section1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .section2 {
    display: flex;
    justify-content: center;

    .paragraph {
      display: flex;
      justify-content: center;
      width: 309px;
      height: 101px;
      left: 53px;
      top: 134px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #ffffff;
      margin-top: 12px;
    }
  }

  .section3 {
    display: flex;
    justify-content: center;

    .paragraph3 {
      width: 297px;
      height: 47px;
      left: 59px;
      top: 249px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 150%;
      /* or 15px */

      text-align: center;
      letter-spacing: 0.03em;

      color: #ffffff;

      opacity: 0.6;
    }
  }

  .displayrow {
    flex-direction: column;
  }
  .top {
    .topLeftImg {
      top: -120px;
      // left: -120px;
    }

    .login {
      .socialLogin {
        margin-top: 40px;
        margin-bottom: 40px;
        flex-wrap: wrap;

        button {
          width: 100%;
          margin: 10px 0px;
          height: calc(#{$mobileButtonHeight} * 20px);
        }
      }

      .privacyCopyRight {
        margin-top: 20px;
      }

      h1 {
        font-size: 24px;
        line-height: 30px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
      }

      .notYetMember {
        margin-bottom: 50px;
      }

      .loginCredentialTop {
        input {
          height: 40px;
        }
      }
    }

    .privacyCopyRight {
      margin-top: calc(#{$mobileButtonHeight} * 20px);
    }
  }
}

// /* medium - display 2  */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

/* large - display 3 */
@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

@media (max-width: 768px) {
  // .carousel-inner .carousel-item>div {
  //     display: none;
  // }
  .openMobileMenu {
    display: block !important;
  }
  .navbarMenu {
    display: none !important;
  }
  .socialIcons {
    // display: none !important;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
