@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Open+Sans:ital,wght@0,300;1,300;1,600&family=Poppins:wght@100;200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #161616 !important;
  overflow-x: hidden;
}

.main-container-wrapper .main-container-image-right {
  position: absolute;
  top: 50px;
  left: 0px;
  opacity: 1 !important;
}

.main-container-wrapper {
  width: 100%;
  position: relative;
}
.main-container-wrapper .main-container-image-left {
  position: absolute;
  top: -100px;
  left: -380px;
  transform: rotate(320deg);
  width: 700px;
  height: 700px;
  opacity: 0.1;
}
.main-container-wrapper .main-container-image-right {
  position: absolute;
  top: -40px;
}
.main-container-wrapper .maskGroup {
  z-index: -1;
  position: absolute;
  right: 0px;
  bottom: 40px;
  opacity: 0.2;
}
.main-container-wrapper .main-header-container {
  width: 96%;
  max-width: 1160px;
  margin: 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}
.main-container-wrapper .main-header-container .logo-menu-container {
  display: flex;
  align-items: center;
}
.main-container-wrapper .main-header-container .logo-menu-container .footer-logo-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.main-container-wrapper .main-header-container .logo-menu-container h1 {
  margin-right: 40px;
  color: #fff;
  font-family: inherit;
  font-size: calc(2rem + 1vw);
  font-weight: 800;
}
.main-container-wrapper .main-header-container .navbar-menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-container-wrapper .main-header-container .navbar-menu-container .menu a {
  padding: 0px 20px;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.2rem + 1vw);
  line-height: 22px;
  font-family: inherit;
  color: #fff;
  opacity: 0.6;
}
.main-container-wrapper .main-header-container .navbar-menu-container .menu a.feature {
  padding-left: 50px;
  border-left: 1px solid #fff;
  opacity: 0.6;
}
.main-container-wrapper .main-header-container .navbar-menu-container .social-icons {
  display: flex;
  align-items: center;
}
.main-container-wrapper .main-header-container .navbar-menu-container .social-icons a {
  text-decoration: none;
  color: #ffbb54;
  text-decoration: none;
}
.main-container-wrapper .main-header-container .navbar-menu-container .social-icons a .icons {
  border: 1px solid #ffbb54;
  border-radius: 15px;
  margin: 0px 10px;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffbb54;
  cursor: pointer;
  transition: 0.4s;
}
.main-container-wrapper .main-header-container .navbar-menu-container .social-icons a .icons:hover {
  cursor: pointer;
  background-color: #ffbb54;
  color: #000;
}
.main-container-wrapper .main-header-container .mobile-view-navbar {
  display: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2d2d2d;
}
.main-container-wrapper .main-header-container .mobile-view-navbar img {
  vertical-align: middle;
  padding: 7px;
}

.mobile-view-image-left {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: -1;
}

.mobile-view-image-right {
  display: none;
}

.crypto-transaction-container {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}
.crypto-transaction-container .main-container-first-heading {
  display: flex;
  justify-content: center;
  height: 35px;
  background: #2c251a;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffbb54;
  padding: 20px;
}

.second-container {
  display: flex;
  justify-content: center;
}
.second-container .paragraph {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
  margin-top: 12px;
}

.second-sub-paragraph-container .second-container-sub-paragraph {
  display: none;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}
.content-wrapper .third-sub-header-text {
  margin-top: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
}

.learn-more-container {
  display: flex;
  justify-content: center;
}
.learn-more-container .learn-more-button-text {
  margin-top: 34px;
  background: #ffbb54;
  border-radius: 14px;
  border: none;
  padding: 15px 34px;
  outline: none;
}
.learn-more-container .learn-more-button-text:hover {
  cursor: pointer;
  background-color: #2d2d2d;
  color: #fff;
  border: 1px solid #ffbb54;
  outline: none;
}

.crypto-opportunity-main-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.crypto-opportunity-main-wrapper .crypto-opportunity-main-container-image {
  margin-top: 88px;
  object-fit: contain;
  height: 572.42px;
  border-bottom-left-radius: 100%;
  opacity: 0.8;
  border-bottom-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
}

.crypto-opportunity-main-container {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}
.crypto-opportunity-main-container .crypto-main-container-imageone {
  position: absolute;
  opacity: 0.05;
  filter: blur(2px);
  object-fit: contain;
  width: 100%;
}
.crypto-opportunity-main-container .crypto-main-container-imagertwo {
  position: absolute;
  right: 0;
  top: -500px;
  z-index: 1;
}
.crypto-opportunity-main-container .crypto-oppurtunity-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.crypto-opportunity-main-container .crypto-oppurtunity-container .sub-header {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  height: 35px;
  background: #2c251a;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffbb54;
  padding: 20px;
}

.register-users-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 46px;
}
.register-users-container .row .register-users-container-row {
  display: flex;
}
.register-users-container .row .register-users-container-row .box {
  position: relative;
}
.register-users-container .row .register-users-container-row .box .price-header-first {
  position: absolute;
  top: 30px;
  left: 35%;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  text-align: center;
}
.register-users-container .row .register-users-container-row .box .price-header-last {
  position: absolute;
  top: 30px;
  left: 27%;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  text-align: center;
}
.register-users-container .row .register-users-container-row .box .register-users-container-text {
  position: absolute;
  top: 55%;
  left: 35%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.4;
}

.content-wrapper-sub {
  margin-top: -54px;
}

.sec6 {
  margin-top: -100px;
}

.crypto-oppurtunity-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.crypto-oppurtunity-container .sub-header {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  height: 35px;
  background: #2c251a;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffbb54;
  padding: 20px;
}

.token-recommendation-image-one {
  position: absolute;
  left: -600px;
  width: 100%;
  height: 100%;
}

.token-recommendation-image-two {
  margin-top: 50px;
}

.token-recommendation-image-three {
  position: absolute;
  z-index: -1;
  margin-top: -150px;
  right: 0;
}

.imageslider {
  margin-top: 160px;
  width: 100%;
}

.section8 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.section8 .image1 {
  width: 100%;
}

.section9 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.section9 .image5 {
  width: 1001px;
  height: 946px;
}

.crypto-transaction-container0 {
  display: flex;
  justify-content: center;
}
.crypto-transaction-container0 .image4 {
  margin-left: -248px;
  width: 901.08px;
  height: 973.16px;
}

.auto-trading-bot-image-two {
  margin-top: 60px;
}

.auto-trading-bot-image-three {
  position: absolute;
  z-index: -1;
  margin-top: -250px;
}

.auto-trading-bot-image-four {
  display: none;
}

.auto-trading-bot-image-one {
  position: absolute;
  margin-left: -200px;
  z-index: -1;
  margin-top: -200px;
}

.portolfio-history-container {
  margin-top: 100px;
}

.imagelast {
  position: absolute;
  right: 0;
  margin-top: -200px;
  z-index: -1;
}

.imagelasttwo {
  display: none;
}

.imagelasts {
  position: absolute;
  left: 0;
  margin-top: -200px;
}

.imagelastsss {
  position: absolute;
  left: 0px;
  margin-top: -250px;
  z-index: -1;
}

.footer-sub-container-wrapper {
  display: none;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 400px;
  background: #272727;
  width: 100%;
  margin-top: 300px;
}
.footer .sub-main-footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .sub-main-footer-container .sub-footer-container {
  padding-left: 200px;
  padding-top: 50px;
  height: auto;
  width: 100%;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu {
  margin-top: 38px;
  margin-left: -16px;
  width: 100%;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu .benefits-footer-text {
  margin-left: 48px;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu .team-footer-text {
  margin-left: 30px;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu .careers-footer-text {
  margin-left: 25px;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  padding: 0px 20px;
  text-decoration: none;
}
.footer .sub-main-footer-container .sub-footer-container .content .menu a.feature {
  padding-left: 50px;
  opacity: 0.6;
}
.footer .sub-main-footer-container .sub-footer-container .footer-copyright-text {
  margin-top: 40px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 2px !important;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container {
  display: flex;
}
.footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons {
  position: relative;
  top: 150px;
  right: -30px;
  display: flex;
}
.footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a {
  text-decoration: none;
  color: #ffbb54;
  text-decoration: none;
}
.footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a .icons {
  border-radius: 15px;
  margin: 0px 10px;
  width: 19.56px;
  height: 15.89px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
}
.footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a .icons:hover {
  color: #ffbb54 !important;
}
.footer .sub-main-footer-container .footer-social-icons-container .termpolicies-text {
  position: relative;
  top: 330px;
  right: 100px;
  display: flex;
  position: relative;
}
.footer .sub-main-footer-container .footer-social-icons-container .termpolicies-text .term {
  font-family: "Poppins";
  font-style: normal;
  width: 130px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */
  margin-right: 10px;
  letter-spacing: -0.204545px;
  color: #ffffff;
}
.footer .sub-main-footer-container .footer-social-icons-container .termpolicies-text .term-condition-text {
  position: relative;
  left: -25 px;
}
.footer .logo-menu-container {
  display: flex;
  align-items: center;
}
.footer .logo-menu-container h1 {
  margin-right: 40px;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
}

@media screen and (max-width: 1440px) {
  .auto-trading-bot-image-three {
    width: 90%;
    margin-top: -50px;
  }

  .crypto-opportunity-main-container {
    border-bottom-left-radius: 0px;
    overflow: visible;
    border-bottom-right-radius: 0px;
  }

  .sec6 {
    margin-top: -10px;
  }

  .register-users-container .box {
    width: 340px !important;
  }
}
@media screen and (max-width: 1080px) {
  .mobile-view-image-left {
    height: 30%;
    width: 40%;
    opacity: 0.5;
  }

  .register-users-container .boxBorder {
    width: 275px;
  }
  .register-users-container .box {
    width: 300px !important;
  }

  .footer {
    position: absolute;
    height: 400px;
    background: #272727;
    width: 100%;
    margin-top: 300px;
  }
  .footer .sub-main-footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer .sub-main-footer-container .sub-footer-container {
    padding-left: 50px;
    padding-top: 50px;
    height: auto;
    width: 100%;
  }
  .footer .sub-main-footer-container .sub-footer-container .content .menu {
    margin-top: 38px;
    margin-left: -16px;
    width: 100%;
  }
  .footer .sub-main-footer-container .sub-footer-container .content .menu a {
    padding: 0px 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.2rem + 1vw);
    line-height: 20px;
    font-family: inherit;
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.204545px;
  }
  .footer .sub-main-footer-container .sub-footer-container .content .menu a.feature {
    padding-left: 50px;
    opacity: 0.6;
  }
  .footer .sub-main-footer-container .sub-footer-container .footer-copyright-text {
    margin-top: 55px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 2px !important;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container {
    display: flex;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons {
    position: relative;
    top: 150px;
    right: -130px;
    display: flex;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a {
    text-decoration: none;
    color: #ffbb54;
    text-decoration: none;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a .icons {
    border-radius: 15px;
    margin: 0px 10px;
    width: 19.56px;
    height: 15.89px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .sub-footer-social-icons-container .social-icons a .icons:hover {
    color: #ffbb54 !important;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .termpolicies-text {
    position: relative;
    top: 330px;
    right: 0px;
    display: flex;
    position: relative;
  }
  .footer .sub-main-footer-container .footer-social-icons-container .termpolicies-text .term {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    width: 110px;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    margin-right: 39px;
    letter-spacing: -0.204545px;
    color: #ffffff;
  }
  .footer .logo-menu-container {
    display: flex;
    align-items: center;
  }
  .footer .logo-menu-container h1 {
    margin-right: 40px;
    color: #fff;
    font-family: inherit;
    font-size: calc(2rem + 1vw);
    font-weight: 400;
  }

  .price-header-first {
    position: absolute;
    top: 30px;
    left: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .price-header-last {
    position: absolute;
    top: 30px;
    left: 25% !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .register-users-container-text {
    position: absolute;
    margin-top: 10px;
    top: 55%;
    left: 35%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 90px) {
  .register-users-container .boxBorder {
    width: 255px;
  }
  .register-users-container .box {
    width: 300px !important;
  }
}
@media screen and (max-width: 910px) {
  .main-container-image-right {
    display: none;
  }

  .crypto-opportunity-main-wrapper .crypto-opportunity-main-container-image {
    margin-top: 0px;
  }

  .footer-copyright-text > h1 {
    font-size: 20px;
  }

  .token-recommendation-image-two {
    width: 80%;
    height: 80%;
  }

  .register-users-container {
    display: flex !important;
    justify-content: center !important;
  }
  .register-users-container .boxBorder {
    width: 225px;
  }
  .register-users-container .box {
    width: 250px !important;
  }

  .price-header-first {
    position: absolute;
    top: 30px;
    left: 36% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .price-header-last {
    position: absolute;
    top: 30px;
    left: 24% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .register-users-container-text {
    position: absolute;
    margin-top: 20px !important;
    top: 55%;
    left: 37% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 818px) {
  .footer .sub-main-footer-container .sub-footer-container {
    padding-top: 20px;
  }

  .footer {
    display: none;
  }

  .footer-sub-container-wrapper {
    background: linear-gradient(180deg, #3a3434 0%, rgba(56, 50, 50, 0) 97.76%);
    color: #fff;
    margin: 50px;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
  }
  .footer-sub-container-wrapper .main-footer-sub-container {
    width: 90%;
  }
  .footer-sub-container-wrapper .mobile-social-icons {
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 47px;
  }
  .footer-sub-container-wrapper .mobile-social-icons a {
    color: #fff;
  }
  .footer-sub-container-wrapper .mobile-social-icons .footer-logo-header-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 23.35px;
    line-height: 35px;
    color: #ffffff;
  }

  .register-users-container {
    display: flex !important;
    justify-content: center !important;
  }
  .register-users-container .boxBorder {
    width: 185px;
  }
  .register-users-container .box {
    margin-right: -15px;
    width: 230px !important;
  }

  .price-header-first {
    position: absolute;
    top: 30px;
    left: 27% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .price-header-last {
    position: absolute;
    top: 30px;
    left: 19% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .register-users-container-text {
    position: absolute;
    margin-top: 20px !important;
    top: 55%;
    left: 28% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 668px) {
  .register-users-container {
    display: flex !important;
    justify-content: center !important;
  }
  .register-users-container .boxBorder {
    width: 317px !important;
    margin-left: -70px !important;
  }
  .register-users-container .box {
    margin-right: -15px !important;
    width: 230px !important;
  }

  .price-header-first {
    position: absolute;
    top: 30px;
    left: 27% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .price-header-last {
    position: absolute;
    top: 30px;
    left: 18% !important;
    font-size: 34px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
  }

  .register-users-container-text {
    position: absolute;
    margin-top: 1px !important;
    top: 55%;
    left: 28% !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.4;
  }
}
@media screen and (max-width: 602px) {
  .learn-more-container {
    display: flex;
    justify-content: center;
  }
  .learn-more-container .learn-more-button-text {
    margin-top: 50px;
    background: #ffbb54;
    border-radius: 14px;
    border: none;
    padding: 15px 34px;
    outline: none;
  }

  .crypto-opportunity-main-wrapper .crypto-opportunity-main-container-image {
    padding-left: 20px;
    margin-top: -140px;
    width: 90%;
  }

  .crypto-opportunity-main-container {
    margin-top: -200px;
  }

  .crypto-oppurtunity-container {
    margin-top: 70px;
  }

  .sub-container-one {
    margin-top: -20px;
  }

  .second-container {
    height: 100px;
  }

  .portolfio-history-containercontainer {
    margin-top: -80px !important;
    margin-bottom: 50px;
  }

  .portolfio-history-sub-container {
    margin-bottom: 80px;
    margin-top: 50px !important;
  }

  .mobile-view-image-left {
    display: none;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 30% !important;
    margin-top: 140px;
    opacity: 1;
    height: 45%;
    width: 70%;
  }

  .mobile-view-image-right {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 50px;
  }

  .crypto-opportunity-main-wrapper {
    margin-top: 72px;
  }

  .register-users-container {
    display: flex !important;
    justify-content: center !important;
  }
  .register-users-container .boxBorder {
    display: flex !important;
    justify-content: center !important;
    width: 317px;
  }
  .register-users-container .box {
    margin-right: 125px;
    width: 230px !important;
  }

  .crypto-main-container-imageone {
    opacity: 0.1 !important;
  }

  .crypto-main-container-imagertwo {
    display: none;
  }

  .token-recommendation-image-one {
    display: none;
  }

  .token-recommendation-image-three {
    display: none;
  }

  .imagelast {
    width: 50%;
    height: 100%;
    display: none;
  }

  .imagelasts {
    margin-top: -50px;
    z-index: -1;
    width: 40%;
  }

  .imagelasttwo {
    right: 0;
    margin-top: -100px;
    position: absolute;
    display: block;
  }

  .auto-trading-bot-image-two {
    width: 70%;
  }

  .auto-trading-bot-image-three {
    display: none;
    transform: rotate(10deg);
    margin-top: 110px;
  }

  .auto-trading-bot-image-four {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .auto-trading-bot-image-one {
    display: none;
  }

  .imagelastsss {
    display: none;
  }

  .main-container-wrapper .main-container-image-left {
    top: -140px !important;
    left: -80px !important;
    z-index: -1;
    transform: rotate(-30deg);
    height: 300px !important;
    width: 300px !important;
  }
  .main-container-wrapper .main-header-container h1 {
    margin-left: 10px;
  }
  .main-container-wrapper .main-header-container .navbar-menu-container {
    display: none !important;
  }
  .main-container-wrapper .main-header-container .mobile-view-navbar {
    display: block;
  }

  .second-sub-paragraph-container {
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }
  .second-sub-paragraph-container .second-container-sub-paragraph {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.6;
  }
}
.sliderone {
  margin-top: 100px;
}

.slidertwo {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .crypto-transaction-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .second-container {
    display: flex;
    justify-content: center;
  }
  .second-container .paragraph {
    width: 320px;
    height: 101px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-top: 12px;
  }

  .auto-trading-bot-container {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .make-crypto-sub-text {
    margin-top: 40px !important;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
  }
  .content-wrapper .third-sub-header-text {
    width: 297px;
    height: 47px;
    left: 59px;
    top: 249px;
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.6;
  }

  .register-users-container-row {
    flex-direction: column;
  }

  .main-container-wrapper .main-container-image-left {
    top: -120px;
  }
  .main-container-wrapper .login .socialLogin {
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .main-container-wrapper .login .socialLogin button {
    width: 100%;
    margin: 10px 0px;
    height: calc(2 * 20px);
  }
  .main-container-wrapper .login .privacyfooter-copyright-text {
    margin-top: 20px;
  }
  .main-container-wrapper .login h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .main-container-wrapper .login p {
    font-size: 14px;
    line-height: 17px;
  }
  .main-container-wrapper .login .notYetMember {
    margin-bottom: 50px;
  }
  .main-container-wrapper .login .loginCredentialTop input {
    height: 40px;
  }
  .main-container-wrapper .privacyfooter-copyright-text {
    margin-top: calc(2 * 20px);
  }
}
@media (max-width: 768px) {
  .mobile-view-navbar {
    display: block !important;
  }

  .navbar-menu {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
