$bgColor: #141414;
$lightGrey: #c4c4c4;
$textColor: #ffbb54;
$white: #ffffff;
$fontfamily: "Poppins";
$fontSize: 16px;
$fontWeight: 600;
$fontStyle: normal;

/* use the variables */
body {
  background-color: $bgColor !important;
}

.row {
  .search {
    width: 571px;
    height: 60px;

    background: black;
    border-radius: 14px;
  }

  .searchIcon {
    position: absolute;
    left: 14.92%;
    right: 91.38%;
    top: 31.81%;
    bottom: 32.93%;
    color: $lightGrey;
  }

  ::placeholder {
    color: $lightGrey;
    text-align: center;
  }
}

.line {
  width: 1060.5px;
  height: 0px;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid $white;
}

.section1 {
  .settings {
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: 38px;
    line-height: 57px;
    color: $white;
  }

  .subHeading {
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $white;
    opacity: 0.6;
  }

  .infoButton {
    width: 20%;
    height: 42px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: 500;
    font-size: $fontSize;
    line-height: 24px;
    background-color: $bgColor;
    color: $white;
    border: 1px solid $white;
  }

  .passwordButton {
    width: 126px;
    height: 42px;
    color: $textColor;
    padding: 9px 24px;
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: 500;
    font-size: $fontSize;
    line-height: 24px;
    background: rgba(255, 187, 84, 0.1);
    border-radius: 10px;
    border: none;
  }

  .passwordButton:hover {
    background: $textColor;
    color: $bgColor;
  }

  .infoButton:hover {
    background-color: $white;
    color: $bgColor;
  }
}

.section2 {
  .changePassword {
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  .subHeading {
    font-family: $fontfamily;
    font-style: $fontStyle;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $white;
    opacity: 0.6;
  }
}

.row {
  .inputFeilds {
    background-color: #2d2d2d;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 60px;
    width: 461px;
    margin-bottom: 10px;
  }

  ::placeholder {
    text-align: left;
  }
}