/* use the variables */
body {
  background-color: #141414 !important;
}

.navbar {
  margin-top: 50px;
}

.main_divSerach {
  display: flex;
  align-items: center;
  padding-right: 20px;

}

.row .search {
  width: 571px;
  height: 60px;
  background: black;
  border-radius: 14px;
  padding-left: 50px
}

.row .searchIcon {
  position: absolute;
  padding-left: 20px;
  color: #c4c4c4;
}

.row .imageDropDown {
  width: 260px;
  border: 1.5px solid #ffffff;
  border-radius: 16px;
  height: 60px;
}

.dropDown {
  margin-top: 24px;
  float: right;
}

.avatar {
  margin-top: 8px;
}

.row ::placeholder {
  color: #c4c4c4;
  text-align: center;
}

.line {
  width: 100%;
  height: 0px;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

.section1 .settings {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}

.section1 .subHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.section1 .infoButton {
  width: 20%;
  height: 42px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #141414;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.section1 .passwordButton {
  width: 126px;
  height: 42px;
  color: #ffbb54;
  padding: 9px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: rgba(255, 187, 84, 0.1);
  border-radius: 10px;
  border: none;
}

.section1 .passwordButton:hover {
  background: #ffbb54;
  color: #141414;
}

.section1 .infoButton:hover {
  background-color: #ffffff;
  color: #141414;
}

.section2 .changePassword {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.section2 .subHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

.row .inputFeilds {
  background-color: #2d2d2d;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.row ::placeholder {
  text-align: left;
  color: white;
  /* margin-left: 270px; */
}

.cancelButton {
  width: 126px;
  height: 42px;
  color: #ffbb54;
  padding: 9px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: rgba(255, 187, 84, 0.1);
  border-radius: 10px;
  border: none;
  margin-right: 30px;
}

.saveButton {
  width: 126px;
  height: 42px;
  background: #ffbb54;
  padding: 9px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* background: rgba(255, 187, 84, 0.1); */
  color: black;
  border-radius: 10px;
  border: none;
}

.twoButtons {
  display: flex;
  justify-content: right;
  margin-top: 175px;
}

.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #ffffff;
  opacity: 0.4;
}

/* .parentHead {
  display: flex;
  justify-content: center;
} */
.avatarBoxHeading {
  /* position: relative; */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.avatarBoxSubHeading {
  text-align: left !important;

  /* margin-top: 30px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;

  opacity: 0.4;
}

.icon {
  background: #2c251a;
  border-radius: 16px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .bellIcon {
  background: #FFBB54;

} */

/*# sourceMappingURL=style.css.map */

@media only screen and (max-width: 992px) {

  .infoButton {
    width: 30% !important;
    height: 42px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #141414;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

@media only screen and (max-width: 636px) {
  .header {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .infoButton {
    width: 40% !important;
    height: 42px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 24px;
    background-color: #141414;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}