@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bgColor: #141414;
$lightGrey: #c4c4c4;
$textColor: #ffbb54;
$white: #ffffff;
$fontfamily: "Poppins", sans-serif;
$fontSize: 16px;
$fontWeight: 600;
$fontStyle: normal;

:root {
  --header-height: 3rem;
  --nav-width: 132px;
  --first-color: black;
  --first-color-light: grey;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;

  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: rgba(20, 20, 20, 1) !important;
}

a {
  text-decoration: none;
}

.searchcontainer {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .searchicon {
    position: relative;
    left: 40px;
  }
  .icon {
    background-color: rgb(96, 94, 0);
    backdrop-filter: blur(1px);
    opacity: 0.6;
    padding: 5px 10px 10px 10px;
    // border: 1px solid white;
    border-radius: 8px;
  }
  .searchinputfield {
    background: #262626;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 40px;
    padding-left: 60px;
  }

  .secondcontainer {
    width: 260px;
    margin-left: 20px;
    height: 60px;
    margin-top: 2px;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    // justify-content: center;
    padding-left: 20px;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 20px;
    display: flex;
    .dropd {
      // border: 1px solid white;
      // margin-left: 20px;
      position: absolute;
      right: 20px;
    }
    .lineclass {
      position: absolute;
      top: 5px;
      left: 70px;
      .userprofileheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;
      }
      .verifiedheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.4;
      }
    }
  }
}

.row {
  .search {
    width: 100%;
    height: 60px;
    background: black;
    border-radius: 14px;
    padding-left: 80px;
  }

  .searchIcon {
    position: absolute;
    left: 14.92%;
    right: 91.38%;
    top: 31.81%;
    bottom: 32.93%;
    color: $lightGrey;
  }

  .imageDropDown {
    /* opacity: 0.1; */
    width: 260px;
    border: 1.5px solid #ffffff;
    /* box-sizing: border-box; */
    border-radius: 16px;
    height: 60px;
  }

  .avatar {
    margin-top: 8px;
  }

  ::placeholder {
    color: $lightGrey;
    text-align: left;
  }
}

.line {
  width: 100%;
  left: 376px;
  top: 147px;
  opacity: 0.1;
  border: 1px solid #ffffff;
}

// .header {
//   width: 100%;
//   height: var(--header-height);
//   position: fixed;
//   top: 0;
//   left: 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 1rem;
//   background-color: var(--white-color);
//   z-index: var(--z-fixed);
//   transition: 0.5s;
//   background-color: #141414;

//   .openMobileMono {
//     display: none;
//   }
// }

// .header_toggle {
//   color: white;
//   font-size: 1.5rem;
//   cursor: pointer;
//   margin-left: -30px;

//   border-radius: 10px;

// }

// .header_img {
//   width: 35px;
//   height: 35px;
//   display: flex;
//   justify-content: center;
//   border-radius: 50%;
//   overflow: hidden;

//   img {
//     width: 40px;
//   }
// }

// .l-navbar {
//   position: fixed;
//   top: 0;
//   left: -30%;
//   width: var(--nav-width);
//   height: 100%;
//   background-color:  #141414;  padding: 0.5rem 1rem 0 0;
//   transition: 0.5s;
//   z-index: var(--z-fixed);
// }

// .nav {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   overflow: hidden;
//   padding-left: 30px !important;
// }
// .nav_logo,
// .nav_link {
//   display: grid;
//   grid-template-columns: max-content max-content;
//   align-items: center;
//   column-gap: 2.75rem;
//   padding: 0.5rem 0 0rem 1.5rem;
//   line-height: 27px;

// }

// .nav_link:hover{
//   background: radial-gradient(354.23% 3112.34% at -29.41% 333.8%, rgba(255, 187, 84, 0.2) 50.63%, rgba(255, 187, 84, 0) 100%) !important;
//   width: 100% !important;
//   height: 100% !important;
//   padding-bottom: 10px !important;
// }

// .nav_logo {
//   margin-bottom: 2rem;
//   font-family: "Poppins";
//   font-style: normal;

//   font-size: 36px;
//   line-height: 54px;
//   margin-left: -8px;
//   color: #ffffff;
// }

// .nav_logo-icon {
//   font-size: 1.25rem;
//   color: var(--white-color);
// }

// .nav_logo-name {
//   color: var(--white-color);
//   font-weight: 800;
//   letter-spacing: 5px;
//   margin-left: 13px;
// }

// .nav_link {
//   position: relative;
//   color: var(--first-color-light);
//   margin-bottom: 1rem;
//   transition: 0.3s;
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;

//   &:hover {
//     color: var(--white-color);
//   }
// }

// .nav_icon {
//   font-size: 1.25rem;
// }

// .show {
//   left: 0;

// }

// .body-pd {
//   padding-left: calc(var(--nav-width) + 1rem);
// }

// .active {
//   color: var(--white-color);

//   &::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0px;
//     width: 2px;
//     height: 45px;
//     background-color:  #FFBB54;
//   }
// }

// .height-100 {
//   height: 100vh;
// }

.navlist_twoclass {
  display: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  // border: 1px solid white;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
  background-color: #141414;
}

.header .openMobileMono {
  display: none;
}

.header_toggle {
  // margin-top: 29px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  // border: 1px solid white;
  background-color: rgb(81, 80, 80);
  position: relative;
  left: 0;
  padding: 0px 6px 8px 6px;
  margin-left: 0px;
  border-radius: 0px 10px 10px 00px;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 90px;
  height: 100%;
  background-color: #141414;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 30px !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: none !important;
}
.navitemclass {
  // border: 1px solid white;
  padding-bottom: 12px;
  width: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // width: 200px !important;
}
.navitemclass:focus {
  border-bottom: 2px solid white !important;
  // width: 40px !important;
  // border-width: 5px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.nav_list {
  .navlinkthree {
    position: relative;
    top: -16px;
    left: 3px;
  }
  .nav_link {
    .nav_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      /* identical to box height */

      color: #ffffff;
    }
  }
}

.nav_logo,
.nav_link {
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  // display: flex;
  align-items: center;
  // width: 100%;
  // border: 1px solid white;
  // justify-content: center;
  // border: 1px solid white;
  column-gap: 2.4rem;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  // line-height: 27px;
  .accordion-item {
    position: relative !important;
    left: -20px !important;
    // width: 100% !important;
    // top: -10px !important;
    // height: 100% !important;

    .nav_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
      /* identical to box height */

      color: #ffffff;
    }
    // border: 1px solid white !important;
  }
  #collapseOne {
    border: none;
  }
  .accorbd {
    background-color: #141414;
    .inneraccor {
      margin-left: 38px;
      span {
        font-size: 12px;
        margin-left: -20px;
      }
      // font-size: 2px !important;
    }
  }

  .accorbtn {
    background-color: #141414 !important;
    border: none;
    outline: none;
    width: auto;
    // margin-left: 20px;
    color: white !important;
    .nav_nameTwo {
      margin-left: 40px;
    }
  }

  .accordion-button::after {
    // content: "";
    // background-image: url(../../img/vectorarrow.png) !important;
    // margin-left: 10px;
    // background-size: 1.3rem;

    // .accordion-button::after {
    content: "";
    background-image: url(../../img/vectorarrow.png) !important;
    margin-left: 16px;
    background-size: 11.3px;
    margin-top: -12px;
    transform: rotate(180deg);
    // }
  }
}

.nav_link:hover {
  background: radial-gradient(
    354.23% 3112.34% at -29.41% 333.8%,
    rgba(255, 187, 84, 0.2) 50.63%,
    rgba(255, 187, 84, 0) 100%
  ) !important;
  width: 100% !important;
  height: 100% !important;
  // color: red !important;
  // padding-bottom: 10px !important;
  // border: 1px solid white !important;
}

.nav_name:hover {
  color: #ffbb54 !important;
}

.nav_logo {
  margin-bottom: 2rem;
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 800; */
  font-size: 36px;
  line-height: 54px;
  margin-left: -45px;
  color: #ffffff;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 13px;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1rem;
  left: 0;
  // border: 1px solid white;
  margin-left: -30px;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.nav_link:hover {
  background-color: var(--white-color);
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  // padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 2px;
  height: 45px;
  background-color: #ffbb54;
}

.height-100 {
  height: 100vh;
}

.mainCard {
  .videoclass {
    width: 320px;
  }

  margin-left: 30px;
  margin-top: 20px;

  background-color: #0e0e0e;
  border-radius: 28px;
}

.videoheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;

  color: #ffffff;
}

.secondarytext {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  color: #ffffff;

  opacity: 0.6;
}

.secondaryheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;

  color: #ffffff;
}

.thirdheading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.6;
}

.headingcontainer {
  width: 200px;
}

.maincard {
  .videoclass {
    width: 320px;
  }

  .submaincontainer {
    padding: 0px 32px;
  }
}

.datadiv {
  background-color: #0e0e0e !important;
  padding: 30px;
}

.videodiv {
  width: 332px;
  // height: 204px;
  left: 419px;
  // top: 314px;
  background: url(image.png);
  border-radius: 14px;
}

.firstcontainer {
  display: flex;
  // border: 1px solid white;
  // width: 100% !important;
  justify-content: space-between;
  margin-left: 200px !important;

  .mainContainer {
    margin-top: 100px;
    width: 100%;

    .tabscontainer {
      border: 1px solid white;
      margin-right: -500px;
      margin-left: 50px;
      height: 300px;
      margin-top: -50px;
    }

    .secondmaincontainer {
      padding: 40px;
      border-radius: 30px;
      width: 100%;
      position: relative;
      background: #0e0e0e;

      .containerimage1 {
        position: absolute;
        left: 40%;
        top: 0;
      }

      .containerimage2 {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .thirdcontainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .thirdsubcontainer {
          display: flex;
          margin-top: 10px;

          .thirdsubsubcontainer {
            // background-color: red;
            background: #323232;
            // opacity: 0.1;
            border-radius: 14px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          .transactions {
            margin-left: 14px;
          }
        }
      }

      .paratext {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        // margin-bottom: 5px;
        /* identical to box height */

        color: #ffffff;
      }

      .paratexttwo {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.55;
      }

      .headertext {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        color: #ffffff;
      }

      .parayellowtext {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 75px;
        /* identical to box height */

        color: #ffbb54;
      }
    }

    .assetmaincontainer {
      margin-top: 30px;

      .assetsheading {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #ffffff;
      }

      .assetsfirstcontainer {
        display: flex;
        padding: 10px 30px 10px 30px;
        justify-content: space-evenly;
        background: #0e0e0e;
        border-radius: 18px;

        .assetsubfirstcontainer {
          display: flex;
          margin-left: 70px;
          flex-direction: column;

          .bitcoinheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */

            color: #ffffff;
          }

          .BTCheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            color: #ffffff;

            opacity: 0.8;
          }

          .sellheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            color: #14bd6c;
            margin-left: 10px;
          }

          .firstnumberheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */

            color: #ffffff;
          }
        }

        .thirdassetcontainer {
          // border: 1px solid white;
          align-items: center;
          display: flex;
          flex-direction: column;

          .seconddateheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */

            text-align: right;

            color: #ffffff;

            opacity: 0.6;
          }

          .coinbaseheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            /* identical to box height */

            color: #ffffff;

            opacity: 0.4;
          }

          .lastdateheading {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */

            color: #14bd6c;
          }
        }
      }
    }
  }

  .twocontainer {
    background: #0e0e0e;
    border-radius: 18px;
    // position: relative;
    width: 70%;
    height: 100%;
    margin-left: 50px;

    .twosubcontainer {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;

      // align-items: center;
      .paratexttwo {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;

        opacity: 0.55;
      }

      .dropdownmaincontainer {
        width: 90px;

        .dropdownbutton {
          background: #0e0e0e;
          border-radius: 18px;
        }
      }

      .dropdownshowcontainer {
        width: 20%;
        position: relative;
        left: -200px;
        background: #161616;
        border-radius: 12px;

        .dropdownsecondcontainer {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border-bottom: 1px solid black;

          .dropdownthirdcontainer {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .btcheading {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */

              color: #ffffff;
            }

            .numberheading {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              /* identical to box height, or 133% */

              display: flex;
              align-items: center;

              color: #aeb6ce;
            }
          }
        }
      }
    }
  }

  .twosubcontainervalue {
    margin-left: 20px;
    display: flex;
    align-items: center;

    .greenrating {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      margin-left: 20px;
      /* identical to box height */

      margin-top: 10px;
      color: #3ed10a;
    }

    .headertext {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
  }
}

.transactionContent {
  // margin: 100px 70px;
  padding-left: 140px;
  // border: 1px solid white;
  margin-top: -50px !important;
  .tableContent {
    .datesection {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;

      opacity: 0.5;
    }
    .amountsection {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;
    }
    .detailsection {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;

      opacity: 0.5;
    }
    .typesection {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;

      opacity: 0.5;
    }
    .statussection {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;

      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;

    /* padding-left: calc(var(--nav-width) + 2rem) */
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;

    img {
      width: 45px;
    }
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }
}

@media screen and (max-width: 767px) {
  .body-pd {
    /* padding-left: calc(var(--nav-width) + 188px) */
    padding-left: 0px;
  }
}

.test {
  padding-left: -100px;
  z-index: 1;
}

.checkToggle {
  margin-left: 185px;
  transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  .header {
    padding: 40px 20px;

    .openMobileMono {
      display: block !important;
      position: absolute;
      right: 20px;
    }
  }

  .header_toggle {
    display: none;
  }

  .l-navbar {
    display: none;
  }

  .l-navbar {
    display: none !important;

    .nav {
      display: none !important;
    }
  }

  .searchcontainer {
    .bellIcon {
      display: none;
    }
    .searchicon {
      display: none;
    }

    .searchinputfield {
      display: none;
    }

    // .searchcontainer{
    // width: 100%; display: flex; align-items: center;
    .icon {
      display: none;
    }

    .secondcontainer {
      width: 220px !important;
      margin-left: 0px !important;
      height: 42px !important;
      // margin-top: 0px !important;
      // margin-right: 0px !important;
      // align-items: center;
      // position: relative;
      // justify-content: center;
      padding-left: 10px !important;
      border: none !important;
      border-radius: 0px !important;

      // display: flex;
      .dropd {
        // border: 1px solid white;
        // margin-left: 20px;
        display: none !important;
        position: absolute;
        right: 10px !important;
      }

      .lineclass {
        position: absolute;
        top: 2px !important;
        left: 70px;

        .userprofileheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */

          color: #ffffff;
        }

        .verifiedheading {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height */
          position: absolute;
          bottom: -23px;
          color: #ffffff;

          opacity: 0.4;
        }
      }
    }
  }
}

.transactionContent {
  // margin-top: -50px !important;

  @media screen and (max-width: 767px) {
    // margin-bottom: 50px;
    // border: 1px solid white;
    // margin: 0px 0px;
    // margin-left: 25px;
    margin: 10px 10px;
    // font-size: 10px !important;
    // border: 1px solid white;
    padding-left: 0px !important;
  }

  .transHeadingFirst {
    color: white !important;
    // margin-top: 10rem !important;
    margin-top: 5rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-left: 12px;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */

    color: #ffffff;
  }

  .transPara1 {
    color: #ffffff !important;
    width: 390px;
    opacity: 0.6;
    margin-left: 14px;
    @media screen and (max-width: 600px) {
      width: 288px;
    }
  }

  .tableContent {
    @media screen and (max-width: 600px) {
      display: none;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;

      // border-radius: 20px 20px  20px 20px !important;
    }

    .tableRow {
      height: 70px;
    }

    .firstrow {
      border-radius: 20px 0px 0px 0px;
    }

    .Secrow {
      border-radius: 0px 20px 0px 0px;
    }

    .thirdrow {
      border-radius: 0px 0px 20px 0px;
    }

    .forthrow {
      border-radius: 0px 0px 0px 20px;
    }

    td,
    th {
      border: none;
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even) {
      color: #dddddd;
      background-color: #141414;
    }

    tr:nth-child(odd) {
      background-color: #0e0e0e;
      color: #dddddd;
    }
  }
}

.mobview_main {
  @media screen and (min-width: 601px) {
    display: none;
  }

  width: 93%;
  background-color: #0e0e0e;
  margin: 20px;
  border-radius: 11px;

  @media screen and (max-width: 420px) {
    width: 420px;
  }

  .mobilecard {
    .card_top {
      width: 100%;
      display: flex;

      .div-img {
        // width: 66.23px;
        width: 200px !important;
        display: none;
        border-radius: 16%;
        // height: 20px;
        text-align: center;
        display: flex;
        background-color: rgb(37, 27, 15);
        justify-content: center;
        align-items: center;
        // height: 66.23px;
        height: 70px;
        margin: 15px 15px 0px 15px;

        // @media screen and (max-width:450px) {
        //   width: 40px !important;
        //   height: 40px !important ;

        // }
        img {
          width: 40.43px;
          height: 40.43px;
          // @media screen and (max-width:450px) {
          //   width: 40px !important;
          //   height: 40px !important ;

          // }
        }
      }

      .img-2 {
        background-color: rgb(14, 24, 29) !important;
      }

      .card_top_left {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        color: #dddddd;

        .spanleft {
          font-weight: bold;
        }

        p {
          font-size: 15px;
          color: #9f9f9f;
        }

        @media screen and (max-width: 440px) {
          padding: 0px !important;
        }
      }

      .card_top_right {
        width: 35%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: #dddddd;
        padding: 22px 128px;
        margin-right: auto;

        @media screen and (max-width: 440px) {
          // padding: 5px 15px;
        }

        span {
          font-size: 20px;
          font-weight: bold;
          width: 120px;
          padding: 5px 35px;

          @media screen and (max-width: 440px) {
            // padding: 5px 15px;
            font-size: medium;
          }
        }

        p {
          font-size: 15px;
          color: #9f9f9f;
        }

        .rightPara {
          width: 150px;

          @media screen and (max-width: 440px) {
            padding-right: 5px;
            font-size: 13px;
          }
        }
      }
    }

    .card_bottom {
      min-height: 50px;

      .cardPara {
        background-color: #0e0e0e;
        padding-left: 34px !important;
        padding-bottom: 22px;
        font-family: "Poppins";

        color: white;
        opacity: 0.6;
      }
    }

    @media screen and (max-width: 420px) {
      margin: 0px !important;
    }
  }
}

@media screen and (max-width: 991px) {
  .transactionContent {
    // margin: 100px 70px;
    padding-left: 40px;
    // border: 1px solid white;
    margin-top: -50px !important;
  }
  .formcontentDiv {
    padding: 20px 20px 20px 20px;
  }
  .newcontainer {
    display: none !important;
  }
  .maincontainer {
    margin-left: -20px;
    padding-left: 0px;
    margin-top: -10px;
  }
  .topdiv {
    position: relative;
    top: -10px;
    padding-left: 20px;
  }
  .navlist_twoclass {
    display: block !important;
    padding-left: 80px;
    padding-top: 40px;
    // border: 1px solid white !important;
    // width: 100% !important;
  }
  .header {
    padding: 40px 20px;
  }

  .header .openMobileMono {
    display: block !important;
    position: absolute;
    right: 20px;
  }

  .header_toggle {
    display: none;
  }

  .l-navbar {
    display: none !important;
  }

  .l-navbar .nav {
    display: none !important;
  }

  .searchcontainer .bellIcon {
    display: none;
  }

  .searchcontainer .searchicon {
    display: none;
  }

  .searchcontainer {
    .searchinputfield {
      // width: 100%;
      display: none;
      // border: 1px solid white;
    }
  }

  .searchcontainer .icon {
    display: none;
  }
}
